{% set title = "Отзывы" %}

{% set description = "Как с нами связаться? 8 (812) 123-45-67 info@info.ru" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

<article class="page-review">

	<div class="center">

		<h1 class="page-review__title h1">
			{{ title }}
		</h1>

		<p class="page-review__intro">
			Нам важно знать мнение каждого клиента. Вы можете написать свой отзыв о нашей работе на нашем сайте, замечание или пожелание о работе интернет магазина, за что мы будем очень признательны и постараемся учесть все пожелания клиентов в нашей работе.
		</p>

		<h2 class="page-review__head">
			Что о нас говорят
		</h2>

		<div class="page-review__list">

			<blockquote class="page-review-item">

				<div class="page-review-item__head">

					<div class="page-review-item__ratio" data-ratio="5">
						5 звёзд
					</div>

					<time class="page-review-item__date" datetime="2020-11-01">
						1 норября 2020
					</time>

				</div>

				<div class="page-review-item__body">

					<img src="/img/review/1.png" srcset="/img/review/1@2x.png 2x" class="page-review-item__avatar" width="32" height="32" loading="lazy" alt="Екатерина">

					<cite class="page-review-item__name">
						Екатерина
					</cite>

					<p class="page-review-item__text">
						Это было очень круто, я воспользовалась сертификатом, никаких сложностей не было. Рекомендую всем)
					</p>

				</div>

			</blockquote>

			<blockquote class="page-review-item">

				<div class="page-review-item__head">

					<div class="page-review-item__ratio" data-ratio="3">
						3 звезды
					</div>

					<time class="page-review-item__date" datetime="2020-12-01">
						1 декабря 2020
					</time>

				</div>

				<div class="page-review-item__body">

					<img src="/img/review/2.jpg" srcset="/img/review/2@2x.jpg 2x" class="page-review-item__avatar" width="32" height="32" loading="lazy" alt="Роман">

					<cite class="page-review-item__name">
						Роман
					</cite>

					<p class="page-review-item__text">
						Подарили друзья на ДР. Было супер, но долго не мог использовать, так как была плохая погода
					</p>

				</div>

			</blockquote>

			<blockquote class="page-review-item">

				<div class="page-review-item__head">

					<div class="page-review-item__ratio" data-ratio="5">
						5 звёзд
					</div>

					<time class="page-review-item__date" datetime="2020-12-05">
						5 декабря 2020
					</time>

				</div>

				<div class="page-review-item__body">

					<img src="/img/review/3.png" srcset="/img/review/3@2x.png 2x" class="page-review-item__avatar" width="32" height="32" loading="lazy" alt="Владислав">

					<cite class="page-review-item__name">
						Владислав
					</cite>

					<p class="page-review-item__text">
						Этой мой магазин и конечно он крутой
					</p>

				</div>

			</blockquote>

		</div>

{% include "about/pagination.html" %}

	</div>

{% include "about/review/form.html" %}

</article>

{% endblock %}