	<article class="catalog-item">

{% include "catalog/img.html" %}

		<form action="/" class="catalog-item__body">

			<h2 class="catalog-item__title">
				<a href="/product/">
					{{ name }}
				</a>
			</h2>

{% include "catalog/label.html" %}

			<div class="catalog-item__column">

				<div class="catalog-item__details">

{% if one %}

{% include "catalog/one-desc.html" %}

{% else %}

{% include "catalog/set-param.html" %}

{% endif %}

				</div>

{% include "catalog/buy.html" %}

			</div>

		</form>

	</article>