	<article class="catalog-item catalog-item--column">

{% include "catalog/img-column.html" %}

		<form action="/" class="catalog-item__body">

			<h2 class="catalog-item__title">
				Экстрим Стандарт
			</h2>

			<p class="catalog-item__label catalog-item__label--green">

				<span class="catalog-item__label-inner">
					Подарочный набор
				</span>

			</p>

{% include "catalog/set-count.html" %}

{% include "catalog/set-count-btn.html" %}

{% include "catalog/buy.html" %}

		</form>

	</article>