	<article class="catalog-item catalog-item--column">

{% include "catalog/img-column.html" %}

		<form action="/" class="catalog-item__body">

			<h2 class="catalog-item__title">
				<a href="/product/">
					Экстрим Стандарт
				</a>
			</h2>

{% if loop.index > 4 %}

			<p class="catalog-item__label catalog-item__label--yellow">

				<span class="catalog-item__label-inner">
					1 впечатление
				</span>

			</p>

{% include "catalog/one-desc.html" %}

{% else %}

			<p class="catalog-item__label catalog-item__label--green">

				<span class="catalog-item__label-inner">
					Подарочный набор
				</span>

			</p>

{% include "catalog/set-count.html" %}

{% include "catalog/set-count-btn.html" %}

{% endif %}

{% include "catalog/buy.html" %}

		</form>

	</article>