{% include "catalog/set-count.html" %}

				<div class="visible-md">

{% include "catalog/set-count-btn.html" %}

				</div>

				<ul class="catalog-item__param hidden-md">

					<li>Полёт на авиатренажёре</li>
					<li>СУ-27 Курсант</li>
					<li>Полет в аэротрубе</li>
					<li>Экскурсия в секретный бункер</li>
					<li>Веревочный парк</li>
					<li>Q-zar для компании</li>
					<li>SUP-серфинг</li>
					<li>Прогулка в темноте</li>
					<li>Мастер-класс по канатоходству</li>
					<li>Урок дайвинга</li>
	{% if param == '20' %}
					<li>Картинг</li>
					<li>Мастер-класс езды на мотоцикле</li>
					<li>Загадки и тайны Москвы</li>
					<li>Заезд на багги</li>
					<li>Виртуальный слалом</li>
					<li>Аквапарк</li>
	{% endif %}

				</ul>