{% set title = "Правила активации" %}

{% set description = "Правила активации активации приобретенного сертификата" %}

{% set breadcrumbs = ['Активация',title] %}

{% extends "template/base.html" %}

{% block content %}

<article class="page">

	<div class="center">

		<h1 class="page__title h1">
			{{ title }}
		</h1>

		<div class="page-activation">

			<div class="page-activation__accordion">

				<div class="accordion">

					<div class="accordion__item">

						<h2 class="accordion__head accordion__btn">
							Активация сертификата
						</h2>

						<div class="accordion__body">

							<p>
								Активацию Сертификата моно осуществить на сайте sait.ru или по телефону +7 (987) 654-32-10. При активации Сертификата необходимо сообщить уникальный код Сертификата, проверочный код, свои контактные данные, выбранную услугу, желаемую дату и время получения услуги. <br>
								В течение 1-2 рабочих дней специалист контакт-центра подтверждает запись и сообщает всю необходимую информацию об услуге, месте ее оказания и прочие рекомендации. Активировать Сертификат необходимо не позднее чем за 5 рабочих дней до желаемой даты получения услуги. Запись на услугу осуществляется при наличии свободных мест у Партнера в желаемое время. Время, доступное для записи клиента, зависит от режима работы Партнера (время работы, особенности работы в выходные и праздничные дни). <br>
								Перенос времени получения услуги возможен не позднее чем за 3 дня до получения услуги. <br>
								После предоставления билетов на мероприятия перенос или отмена услуги невозможны. <br>
								При самостоятельном обращении Держателя сертификата к Партнеру с целью записи, переноса или отмены услуги sait.ru не несет ответственности за предоставление услуги и её качество.
							</p>

						</div>

					</div>

					<div class="accordion__item">

						<h2 class="accordion__head accordion__btn">
							Описание услуги
						</h2>

						<div class="accordion__body">
							text
						</div>

					</div>

					<div class="accordion__item">

						<h2 class="accordion__head accordion__btn">
							Срок действия сертификата
						</h2>

						<div class="accordion__body">
							text
						</div>

					</div>

					<div class="accordion__item">

						<h2 class="accordion__head accordion__btn">
							Дополнительная информация
						</h2>

						<div class="accordion__body">

							<p>
								Не забывайте Сертификат! <br>
								Сертификат является подтверждением Вашего права на получение услуг. Сертификат подлежит обязательной передаче Партнёру в момент получения услуги.
							</p>

							<p>
								Если Вы опаздываете <br>Если Вы по какой-либо причине не явились для получения услуги и не предупредили об этом за 2 дня в установленном порядке для переноса даты и времени оказания услуги, Вы теряете право на получение услуги по Сертификату.
							</p>

							<p>
								Если Вы потеряли сертификат <br>В случае утраты Сертификата kupitpodarok.ru Вы теряете право на получение услуг.
							</p>

							<p>
								Если закончился срок действия сертификата <br>В случае если Сертификат не активирован до истечения срока действия Сертификата, Вы теряете право на получение услуг по Сертификату.
							</p>

							<p>
								Если Вам подарили не то, что Вы хотели <br>Обмен Сертификата на другой Сертификат с иным составом услуг возможен в течение срока действия Сертификата при условии, что упаковочная коробка и её содержимое не повреждены и на Сертификате не стерт защитный слой. При обмене на Сертификат большей стоимости Вам необходимо будет доплатить разницу в цене. При обмене на Сертификат меньшей стоимости разница не компенсируется.
							</p>

							<p>
								Если возникли сложности <br>В случае если при получении выбранной услуги возникла проблема, Вам необходимо связаться с нами по телефону +7 (987) 654-32-10. Мы сделаем всё возможное для устранения возникших сложностей. Если проблему решить на месте не удалось, пожалуйста, изложите суть возникших проблем в письменном виде и, по возможности, зарегистрируйте претензию у представителя Партнера на месте оказания услуги. В течение трёх рабочих дней с момента получения услуги направьте претензию нам по адресу info@kupitpodarok.ru. В течение трёх рабочих дней с даты получения претензии Вам будет направлен ответ.
							</p>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</article>

{% endblock %}