{% set title = "Мой баланс" %}

{% extends "template/lk.html" %}

{% block content %}

	<h1 class="lk__title">

		<span class="lk__title-ico">
			<svg width="33" height="23" viewBox="0 0 33 23"><path d="M22.59 15.6a1.23 1.23 0 100 2.47h4.1a1.23 1.23 0 000-2.46h-4.1z"/><path d="M4.52 0A4.52 4.52 0 000 4.52v13.96A4.52 4.52 0 004.52 23h23.82a4.52 4.52 0 004.52-4.52V4.52A4.52 4.52 0 0028.34 0H4.52zM2.46 18.48V9.86H30.4v8.62c0 1.14-.92 2.06-2.05 2.06H4.52a2.05 2.05 0 01-2.06-2.06zm0-11.09V4.52c0-1.14.92-2.06 2.06-2.06h23.82c1.13 0 2.05.92 2.05 2.06v2.87H2.46z"/></svg>
		</span>

		{{ title }}

	</h1>

	<p class="lk__intro">
		Остаток баланса: <b> 0.00 руб.</b>
	</p>

	<div class="lk-balance">

		<ul class="lk-balance__link">

			<li>
				<a href="/">Активировать баланс</a>
				<details class="tooltip-help">
					<summary class="tooltip-help__btn">
						Подсказка
					</summary>
					<p class="tooltip-help__inner">
						Доставка по МКАД осуществляется в
					</p>
				</details>
			</li>

			<li>
				<a href="/">Подробнее о балансе</a>
			</li>

		</ul>

		<hr>

		<form action="/" class="lk-balance__form">

			<p>
				Добавьте инвайт код пригласившего вас пользователя
			</p>

			<input class="input" placeholder="Инвайт код">

			<button class="btn-submit btn btn--outline">
				Сохранить
			</button>

		</form>

	</div>

{% endblock %}