	<form action="/" class="cookie hide">

		<div class="center">

			<div class="cookie__box">

				<div class="cookie__text">

					<p>
						We use cookies on this site to enhance your user experience. By continuing, you consent to our use of cookies.  In case you are customer from EU/EEA — you agree with <a href="/cookies-policy" target="_blank">Cookie Policy</a>, if you are customer from US - with <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
					</p>

				</div>

				<div class="cookie__btn">

					<button class="btn btn--blue btn--small">
						Accept
					</button>

				</div>

			</div>

		</div>

	</form>