	<footer class="footer">

		<div class="center">

			<div class="footer__top">

				<div class="footer__left">

					<div class="footer__logo">

						<a href="/">

							<img src="/img/logo-footer.svg" alt="{{ site }}" loading="lazy" width="256" height="58">

						</a>

					</div>

					<div class="footer__social">

{% include "template/social.html" %}

					</div>

					<div class="footer__phone">

						<a href="tel:+78121234567">
							+7 (812) 123-45-67
						</a>

					</div>

					<div class="footer__address">

						<p>
							125040, г. Москва, 3-я улица Ямского Поля, д.2, корп. 26, подъезд №1, этаж 1.
						</p>

					</div>

				</div>

				<div class="footer__box">
{% set menu = [

	{
		head : "Виды подарков",
		list : [
			'Экстрим',
			'Хобби',
			'Полеты',
			'Красота',
			'Романтика',
			'Наборы',
			'Собрать свой подарок'
		]
	},

	{
		head : "Подарок по поводу",
		list : [
			'На День рождение',
			'На Новый год',
			'На 14 февраля',
			'на 23 февраля',
			'На 8 марта',
			'На свадьбу'
		]
	},

	{
		head : "Для кого подарок",
		list : [
			'Для двоих',
			'Для нее',
			'Для него',
			'Для коллег',
			'Для руководителя',
			'Для учителей',
			'Для семьи',
			'Для детей',
			'Короративные подарки'
		]
	},

	{
		head : "О компании",
		list : [
			'Доставка и оплата',
			'Адреса магазинов',
			'Контакты',
			'Отзывы',
			'Акции',
			'Наши рекомендации',
			'Упаковка'
		]
	}

] %}

{% for item in menu %}

					<div class="footer__menu">

						<h3 class="footer__menu-head">
							{{ item.head }}
						</h3>

						<ul>

{% for link in item.list %}

							<li{% if link == 'Собрать свой подарок' %} class="footer__menu-spec"{% endif %}>
								<a href="/">{{ link }}</a>
							</li>

{% endfor %}

						</ul>

					</div>

{% endfor %}

				</div>

			</div>

			<hr>

			<div class="footer__bottom">

				<p class="footer__copyright">
					© Впечатления. 2020.&nbsp;&nbsp;Все права защищены.
				</p>

				<ul class="footer__bottom-menu">

					<li>
						<a href="/">
							Политика конфедициальности
						</a>
					</li>

					<li>
						<a href="/">
							Использование cookies
						</a>
					</li>

					<li>
						<a href="/">
							Карта сайта
						</a>
					</li>

				</ul>

			</div>

		</div>

	</footer>