	<footer class="footer">

		<div class="center">

			<div class="footer__box">

				<div class="footer__left">

					<img class="footer__logo" src="/img/logo.svg" alt="{{ site }}" loading="lazy" width="209" height="42">

					<p class="copyright">
						Copyright © 2020 Cloudzilla Network. All Rights Reserved.
					</p>

				</div>

				<div class="footer__center">

					<ul class="footer__menu">

						<li>
							<a href="/demo">Live Demo</a>
						</li>

						<li>
							<a href="/terms-and-conditions">Terms & Conditions</a>
						</li>

						<li>
							<a href="/#about">About</a>
						</li>

						<li>
							<a href="/privacy-policy">Privacy Policy</a>
						</li>

						<li>
							<a href="/#prices">Prices</a>
						</li>

						<li>
							<a href="/cookies-policy">Cookies Policy</a>
						</li>

					</ul>

				</div>

				<div class="footer__right">

					<p class="footer__right-head">
						Social:
					</p>

{% include "template/social.html" %}

				</div>

			</div>

		</div>

	</footer>