	<header class="header">

		<div class="center">

			<div class="header__flex">

				<div class="header__logo">

					<a href="/" title="{{ site }}">

						<img src="/img/logo.svg" alt="{{ site }}" width="243" height="55">

					</a>

				</div>

				<div class="header__box">

					<div class="header__top">

						<div class="header__top-menu">

{% include "template/menu-company.html" %}

						</div>

						<div class="header__top-phone">

							<a href="tel:+78121234567">
								+7 (812) 123-45-67
							</a>

						</div>

						<div class="header__top-btn">

							<button class="btn btn--red btn--small" type="button" data-modal="activation">
								Активация
							</button>

						</div>

					</div>

					<hr>

					<div class="header__bottom">

						<div class="header__bottom-menu">

{% include "template/menu-main.html" %}

						</div>

						<div class="header__search">

							<button class="button header-search-open" type="button" aria-label="открыть поиск по сайту">
								<svg width="33" height="32" viewBox="0 0 33 32"><path d="M24.66 21.35l-.29.36.33.31 7.48 7.18c.43.41.43 1.07 0 1.48-.22.21-.5.32-.8.32-.3 0-.59-.1-.8-.32h0l-7.45-7.15-.31-.3-.34.26a13.78 13.78 0 01-8.49 2.9C6.53 26.38.5 20.55.5 13.43.5 6.32 6.53.5 14 .5h0c7.45 0 13.48 5.82 13.48 12.94 0 2.98-1.05 5.72-2.82 7.9zM14 2.62c-6.18 0-11.25 4.83-11.25 10.82S7.81 24.27 14 24.27c6.19 0 11.25-4.84 11.25-10.83S20.18 2.62 14 2.62z" fill="#3C3C3C" stroke="#fff"/></svg>
							</button>

						</div>

						<div class="header__cart header-cart">

							<a class="header-cart__btn" href="/cart" title="Корзина" data-count="4">
								<svg width="33" height="32" viewBox="0 0 33 32"><path d="M10.23 8.27S10.23 2 16.5 2s6.27 6.27 6.27 6.27M5 8.27v20.91h23V8.28H5z" fill="none" stroke="#404040" stroke-linecap="round" stroke-linejoin="round"/></svg>
							</a>

{% include "template/header-cart.html" %}

						</div>

					</div>

				</div>

			</div>

		</div>

		<button class="button btn-menu-toggle" type="button" aria-label="Menu">
			<span class="btn-menu-toggle__top"></span>
			<span class="btn-menu-toggle__center"></span>
			<span class="btn-menu-toggle__bottom"></span>
		</button>

{% include "template/header-search.html" %}

	</header>