	<header class="header">

		<a href="/" class="header__logo" title="{{ site }}">

			<img src="/img/logo.svg" alt="{{ site }}" loading="lazy" width="209" height="42">

		</a>

		<div class="header__menu">

{% include "template/menu.html" %}

		</div>

		<div class="header__btn">

			<button type="button" class="btn btn--outline" data-modal="select-wallet">
				<svg width="20" height="20" viewBox="0 0 20 20">
					<path d="M16 6H3.5v-.5l11-.88v.88H16V4c0-1.1-.9-1.87-1.98-1.72L3.98 3.72A2.38 2.38 0 002 6v10c0 1.1.9 2 2 2h12a2 2 0 002-2V8a2 2 0 00-2-2zm-1.5 7a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"/>
				</svg>
				Unlock Wallet
			</button>

		</div>

		<button class="button btn-menu-toggle" type="button" aria-label="Menu">
			<span class="btn-menu-toggle__top"></span>
			<span class="btn-menu-toggle__center"></span>
			<span class="btn-menu-toggle__bottom"></span>
		</button>

	</header>