	<form action="/" class="header-search">

		<div class="header-search__inner">

			<div class="center">

				<div class="header-search__fieldset">

					<input class="header-search__input input" placeholder="Поиск подарков-впечатлений" aria-label="Поиск" name="keywords">

					<button type="reset" class="button header-search__reset" aria-label="очистить форму поиска и закрыть">
						<svg width="21" height="21" viewBox="0 0 21 21"><path d="M20.36 1.05L19.3 0l-9.13 9.13L1.05 0 0 1.05l9.13 9.13L0 19.3l1.05 1.05 9.13-9.13 9.13 9.13 1.05-1.05-9.13-9.13 9.13-9.13z"/></svg>
					</button>

					<svg class="header-search__ico" width="33" height="32" viewBox="0 0 33 32"><path d="M32.52 28.84l-7.47-7.18a13.04 13.04 0 002.93-8.22C27.98 6.03 21.71 0 14 0 6.28 0 0 6.03 0 13.44c0 7.41 6.28 13.44 14 13.44 3.32 0 6.38-1.12 8.78-3l7.45 7.16c.32.3.73.46 1.15.46.41 0 .83-.15 1.14-.46.64-.6.64-1.59 0-2.2zM3.24 13.44C3.24 7.74 8.07 3.12 14 3.12c5.93 0 10.75 4.63 10.75 10.32 0 5.7-4.82 10.33-10.75 10.33-5.92 0-10.75-4.64-10.75-10.33z"/></svg>

				</div>

			</div>

		</div>

		<div class="header-search__result">

			<div class="center">

				<div class="header-search__result-inner">

					<h3 class="header-search__result-head">
						Популярные запросы
					</h3>

					<div class="header-search__result-list">

						<div class="header-search__result-item">

							<a href="/">Подарок для мужа</a>

						</div>

						<div class="header-search__result-item">

							<a href="/">Подарок для жены</a>

						</div>

						<div class="header-search__result-item">

							<a href="/">Экстримальные</a>

						</div>

						<div class="header-search__result-item">

							<a href="/">Зимой</a>

						</div>

					</div>

				</div>

			</div>

		</div>

	</form>
<!--
	результат ответа фраза: СМ

					<h3 class="header-search__result-head">
						Предложенные варианты
					</h3>

					<div class="visuallyhidden">

						<svg width="14" height="14" viewBox="0 0 14 14">

							<g id="ico-search"><path d="M13.8 12.24l-3.17-3.05a5.53 5.53 0 001.24-3.49c0-3.14-2.66-5.7-5.93-5.7A5.83 5.83 0 000 5.7c0 3.15 2.66 5.7 5.94 5.7 1.4 0 2.7-.47 3.73-1.27l3.16 3.04c.13.13.3.2.48.2a.7.7 0 00.49-.2.64.64 0 000-.93zM1.38 5.7a4.48 4.48 0 014.56-4.38A4.48 4.48 0 0110.5 5.7a4.48 4.48 0 01-4.56 4.38A4.48 4.48 0 011.38 5.7z"/><path d="M13.8 12.24l-3.17-3.05a5.53 5.53 0 001.24-3.49c0-3.14-2.66-5.7-5.93-5.7A5.83 5.83 0 000 5.7c0 3.15 2.66 5.7 5.94 5.7 1.4 0 2.7-.47 3.73-1.27l3.16 3.04c.13.13.3.2.48.2a.7.7 0 00.49-.2.64.64 0 000-.93zM1.38 5.7a4.48 4.48 0 014.56-4.38A4.48 4.48 0 0110.5 5.7a4.48 4.48 0 01-4.56 4.38A4.48 4.48 0 011.38 5.7z"/><path d="M13.8 12.24l-3.17-3.05a5.53 5.53 0 001.24-3.49c0-3.14-2.66-5.7-5.93-5.7A5.83 5.83 0 000 5.7c0 3.15 2.66 5.7 5.94 5.7 1.4 0 2.7-.47 3.73-1.27l3.16 3.04c.13.13.3.2.48.2a.7.7 0 00.49-.2.64.64 0 000-.93zM1.38 5.7a4.48 4.48 0 014.56-4.38A4.48 4.48 0 0110.5 5.7a4.48 4.48 0 01-4.56 4.38A4.48 4.48 0 011.38 5.7z"/></g>

						</svg>

					</div>

					<div class="header-search__result-list">

						<div class="header-search__result-item">

							<a href="/"><b>Корпо</b>ративные подарки</a>

							<svg><use xlink:href="#ico-search"/></svg>

						</div>

						<div class="header-search__result-item">

							<a href="/"><b>Корпо</b>ративный бокс</a>

							<svg><use xlink:href="#ico-search"/></svg>

						</div>

						<div class="header-search__result-item">

							<a href="/"><b>Корпо</b>ративные посиделки</a>

							<svg><use xlink:href="#ico-search"/></svg>

						</div>

					</div>
 -->