		<nav class="menu">

			<ul class="menu__list">

				<li class="menu__item">

					<a class="menu__link" href="/demo">Live Demo</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/#about">About</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/#how-works">How it Works</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/#prices">Prices</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/#team">Team</a>

				</li>

			</ul>

		</nav>