{% set menu = [

	{
		name : "Для кого",
		list : [
			'Для мужчин',
			'Для женщин',
			'Для двоих',
			'Для коллег',
			'Для руководителя',
			'Для детей',
			'Для семьи',
			'Для учителей'
		]
	},

	{
		name : "Повод",
		list : [
			'День рождение',
			'Свадьба',
			'Новый год',
			'День влюбленных',
			'23 февраля',
			'8 марта',
			'На юбилей'
		]
	},

	{
		name : "Тип",
		list : [
			'1 впечатление',
			'Набор впечатлений'
		]
	},

	{
		name : "Тематика",
		list : [
			'СПА',
			'Красота',
			'Экстрим',
			'Хобби',
			'Полеты'
		]
	},

	{
		name : "На открытом воздухе",
		list : [
			'Зимой',
			'Весной',
			'Летом',
			'Осенью'
		]
	}

] %}

	<nav class="menu-catalog">

		<div class="menu-catalog__inner">

			<div class="center">

				<div class="menu-catalog__box">

{% for item in menu %}

					<div class="menu-catalog__col">

						<p class="menu-catalog__head h3">
							{{ item.name }}
						</p>

						<ul class="menu-catalog__list">

	{% for link in item.list %}

							<li class="menu-catalog__item">

								<a class="menu-catalog__link" href="/">
									{{ link }}
								</a>

							</li>

	{% endfor %}

						</ul>

					</div>

{% endfor %}

					<div class="menu-catalog__col">

						<ul class="menu-catalog__links">

							<li class="menu-catalog__links-item">

								<a class="link-all" href="/">
									Корпоративные
									<svg width="8" height="14" viewBox="0 0 8 14"><path d="M.24 1.96L1.05.34 7.72 7l-6.67 6.66-.8-1.62 4.9-4.9.13-.14-.14-.14-4.9-4.9z"/></svg>
								</a>

							</li>

							<li class="menu-catalog__links-item">

								<a class="link-all" href="/">
									Все наборы
									<svg width="8" height="14" viewBox="0 0 8 14"><path d="M.24 1.96L1.05.34 7.72 7l-6.67 6.66-.8-1.62 4.9-4.9.13-.14-.14-.14-4.9-4.9z"/></svg>
								</a>

							</li>

						</ul>

					</div>

				</div>

			</div>

		</div>

	</nav>