		<nav class="menu-main">

			<ul class="menu-main__list">

				<li class="menu-main__item">

					<a class="menu-main__link show-menu-catalog" href="/">
						Каталог
					</a>

				</li>

				<li class="menu-main__item">

					<a class="menu-main__link" href="/">
						Собрать подарок
					</a>

				</li>

				<li class="menu-main__item">

					<a class="menu-main__link" href="/">
						Скидки
					</a>

				</li>

				<li class="menu-main__item">

					<a class="menu-main__link" href="/">
						Корпоративным клиентам
					</a>

				</li>

			</ul>

		</nav>