	<div class="modal">

		<div class="modal__box">

			<aside class="modal__item modal__item--activation modal-activation">

				<h3>
					Информация по активации приобретенного сертификата
				</h3>

				<ol>
					<li>Сначала укажите данные вашего сертификата. </li>
					<li>Затем введите личные данные (паспорт не требуется) и выберите желаемую дату и время получения услуги.</li>
					<li>Вам придет письмо на email и мы позвоним вам, чтобы подтвердить заявку.</li>
				</ol>

				<p>
					Самостоятельно обращаться к партнеру для записи не нужно, <a href="/">мы всё сделаем за вас</a>. После подтверждения у партнера вам придет от нас письмо на email с указанием даты, времени и адреса посещения. Если услуга подразумевает покупку билетов, то билеты также придут вам на email.
				</p>

				<hr>

				<p>
					<b>Пожалуйста, не забудьте взять сертификат и билеты (если предусмотрены), когда пойдете получать услугу.</b>
				</p>

				<div class="modal-activation__btn">

					<button type="button" class="modal__close btn btn--outline" aria-label="Закрыть окно">
						Понятно
					</button>

				</div>

			</aside>

			<button type="button" class="modal__close modal__close-btn button hide" aria-label="Close modal">
				<svg width="34" height="34" viewBox="0 0 34 34">
					<path d="M22.06 22.06c-.47.47-.89.8-1.36.34l-3.73-3.73-3.73 3.73c-.47.47-.9.13-1.36-.34-.47-.47-.8-.89-.34-1.36l3.73-3.73-3.73-3.73c-.47-.47-.13-.9.34-1.36.47-.47.89-.8 1.36-.34l3.73 3.73 3.73-3.73c.47-.47.9-.13 1.36.34.47.47.81.89.34 1.36l-3.73 3.73 3.73 3.73c.47.47.13.9-.34 1.36z"/>
				</svg>
			</button>

		</div>

	</div>