	<div class="modal">

		<div class="modal__box">

			<aside class="modal__item modal__item--activation modal-activation{% if modal !== 'activation' %} visuallyhidden{% endif %}">

				<h3 class="modal__title">
					Информация по активации приобретенного сертификата
				</h3>

				<div class="modal__text">

					<ol>
						<li>Сначала укажите данные вашего сертификата. </li>
						<li>Затем введите личные данные (паспорт не требуется) и выберите желаемую дату и время получения услуги.</li>
						<li>Вам придет письмо на email и мы позвоним вам, чтобы подтвердить заявку.</li>
					</ol>

					<p>
						Самостоятельно обращаться к партнеру для записи не нужно, <a href="/">мы всё сделаем за вас</a>. После подтверждения у партнера вам придет от нас письмо на email с указанием даты, времени и адреса посещения. Если услуга подразумевает покупку билетов, то билеты также придут вам на email.
					</p>

					<hr>

					<p>
						<b>Пожалуйста, не забудьте взять сертификат и билеты (если предусмотрены), когда пойдете получать услугу.</b>
					</p>

				</div>

				<div class="modal__btn">

					<button type="button" class="modal__close btn btn--outline" aria-label="Закрыть окно">
						Понятно
					</button>

				</div>

			</aside>

			<div class="modal__item modal__item--info modal-info visuallyhidden" id="modal-info">

				<div class="modal__title"></div>
				<div class="modal__text"></div>

				<div class="modal__btn">

					<button type="button" class="modal__close btn btn--outline" aria-label="Закрыть окно">
						Понятно
					</button>

				</div>

			</div>

{% include "template/packing.html" %}

		</div>

	</div>