{% set title = "Изменить пароль" %}

{% extends "template/lk.html" %}

{% block content %}

	<h1 class="lk__title">

		<span class="lk__title-ico">
			<svg width="22" height="26" viewBox="0 0 22 26"><path d="M3.67 8.67V7.43c0-1.97.77-3.86 2.14-5.25a7.29 7.29 0 0110.38 0 7.48 7.48 0 012.14 5.25v1.24h2.45c.32 0 .63.13.86.36.23.23.36.55.36.87v14.86c0 .33-.13.65-.36.88-.23.23-.54.36-.86.36H1.22c-.32 0-.63-.13-.86-.36a1.25 1.25 0 01-.36-.88V9.9c0-.32.13-.64.36-.87.23-.23.54-.36.86-.36h2.45zm15.89 2.47H2.44v12.38h17.12V11.14zm-9.78 7.1a2.47 2.47 0 01-1.14-2.79A2.48 2.48 0 0111 13.62a2.42 2.42 0 012.36 1.83 2.5 2.5 0 01-1.14 2.79v2.8H9.78v-2.8zM6.1 8.67h9.78V7.43c0-1.31-.52-2.57-1.43-3.5a4.86 4.86 0 00-6.92 0 4.99 4.99 0 00-1.43 3.5v1.24z"/></svg>
		</span>

		{{ title }}

	</h1>

	<p class="lk__intro">
		Вы в любой момент можете изменить ваш пароль, чтобы обеспечить безопасность вашей учетной записи
	</p>

	<form action="/" class="lk-form">

		<label class="lk-form__inputbox">

			<span class="lk-form__label">
				Текущий пароль:
			</span>

			<span class="lk-form__input">

				<input class="input">

			</span>

		</label>

		<label class="lk-form__inputbox">

			<span class="lk-form__label">
				Новый пароль:
			</span>

			<span class="lk-form__input">

				<input class="input">

			</span>

		</label>

		<div class="lk-form__submit">

			<button class="btn-submit btn btn--outline">
				Сохранить
			</button>

		</div>

	</form>

{% endblock %}