.lk-activation {

	margin: 40px 0;
	max-width: 366px;

	@media ($smWidth) {

		max-width: none;
		margin: 35px 0 0;

	}

	&__inputbox {

		margin-bottom: 28px;

	}

	&__label {

		display: block;
		font-weight: bold;
		font-size: 17px;
		line-height: 21px;
		margin-bottom: 14px;

		@media ($smWidth) {

			font-size: 13px;
			line-height: 16px;

		}

	}

	.btn-submit {

		width: 100%;
		margin-top: 40px;

	}

	&__captcha {

		display: flex;
		justify-content: space-between;

		&-btn {

			flex-grow: 1;
			background-color: #fff;
			border: 1px solid var(--border);

			@media ($smWidth) {

				width: 175px;

			}

			&::after {

				position: absolute;
				width: 12px;
				height: 12px;
				top: 4px;
				right: 10px;
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1l1.18 1.38A5 5 0 0111.02 5H10a4 4 0 00-6.67-1.86L4.5 4.5H1L1.5 1zM1.92 8.89A5 5 0 011.1 7h1.03a4 4 0 006.66 1.86L7.63 7.5h3.5l-.5 3.5-1.18-1.38a5 5 0 01-7.53-.73z'/%3E%3C/svg%3E");

			}

		}

		.input {

			width: 177px;
			margin-left: 14px;
			flex-shrink: 0;
			height: 50px;

			@media ($smWidth) {

				width: calc(100% - 175px - 14px);

			}

		}

	}

}