.input {

	height: 45px;
	line-height: 25px;
	padding: 10px 17px;

	@media ($desktop) {

		font-size: 14px;

	}

}

.select {

	select {

		padding: 9px 16px;
		min-width: 0;
		line-height: 25px;

	}

}

.btn-submit {

	margin-top: 30px;
	height: 40px;
	line-height: 40px;
	padding: 0 50px;
	font-size: 14px;

}

.lk-form {

	max-width: 413px;

	&__inputbox {

		margin: 35px 0;
		display: block;

	}

	&__label {

		color: var(--grey);
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
		margin-bottom: 8px;
		display: block;

	}

	&__checkbox {

		display: block;
		margin: 15px 0;

	}

	&__submit {

		margin-top: 40px;

	}

	&__input {

		&--col {

			display: flex;

		}

		&--date {

			width: 18%;

		}

		&--month,
		&--year {

			width: 41%;
			padding-left: 10px;

		}

	}

}