.input {

	height: 45px;
	line-height: 25px;
	padding: 10px 17px;

	@media ($desktop) {

		font-size: 14px;

	}

}

.select {

	select {

		padding: 9px 16px;
		min-width: 0;
		line-height: 25px;

		@media ($smWidth) {

			padding: 9px;

		}

	}

}

.btn-submit {

	margin-top: 30px;
	height: 40px;
	line-height: 40px;
	padding: 0 50px;
	font-size: 14px;

	@media ($mdWidth) {

		margin: 30px auto 0;

	}

}

.lk-btn-loading {

	background-color: #f0f0f0;
	display: flex;
	margin: 0 -52px -32px;
	justify-content: center;

	@media ($mdWidth) {

		margin: 0 -20px -20px;

	}

}

.lk-form {

	max-width: 413px;

	@media ($mdWidth) {

		max-width: none;

	}

	&__inputbox {

		margin: 35px 0;
		display: block;

	}

	&__label {

		color: var(--grey);
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		line-height: 17px;
		margin-bottom: 8px;
		display: block;

	}

	&__checkbox {

		display: flex;
		margin: 15px 0;

	}

	&__submit {

		margin-top: 40px;

		@media ($mdWidth) {

			margin-top: 30px;

		}

	}

	&__input {

		&--col {

			display: flex;

		}

		&--date {

			width: 18%;

			@media ($mdWidth) {

				width: 24%;

			}

		}

		&--month,
		&--year {

			width: 41%;
			padding-left: 10px;

			@media ($mdWidth) {

				width: 38%;

			}

		}

	}

}