{% set title = "О компании" %}

{% set description = "Чем занимается наша компания, Наши приемущества, Наши предложения" %}

{% set breadcrumbs = ['О нас',title] %}

{% extends "template/base.html" %}

{% block content %}

<article class="page-about page">

	<div class="center">

		<h1 class="page__title h1">
			{{ title }}
		</h1>

		<div class="page__intro w100p">

			<h2>
				Подарки нового поколения – подарки-впечатления!
			</h2>

			<p>
				Это подарочные сертификаты, дающие возможность получить более 200 незабываемых впечатлений. <br>
				Внутри подарка вы найдете билет, красочный буклет с подробным описанием программ на выбор, а также правила использования.
			</p>

			<h2>
				Чем занимается наша компания?
			</h2>

			<p>
				Часто люди покупали у нас именно подарочные сертификаты. Но у многих были сомнения понравится ли полет человеку, которому они дарят такой сертификат. Может быть он боится высоты? А может он давно мечтал покататься на вейкборде или на квадроцикле? А может ему надоел экстрим, и он не откажется от профессионального тайского массажа?
			</p>

		</div>

		<div class="page-about__advantages">

			<h2 class="page-about__head h1">
				Наши приемущества
			</h2>

			<ul class="page-about__advantages-list">

				<li class="page-about__advantages-item">

					<h3>
						Уникальность
					</h3>

					<p>
						Мы создаём уникальную концепцию для каждого праздника
					</p>

					<img src="/img/about/hot-air-balloon.svg" loading="lazy" width="106" height="106" alt="">

				</li>

				<li class="page-about__advantages-item">

					<h3>
						Эмоции
					</h3>

					<p>
						Делаем ваше событие ярким и незабываемым
					</p>

					<img src="/img/about/balloon.svg" loading="lazy" width="106" height="106" alt="">

				</li>

				<li class="page-about__advantages-item">

					<h3>
						Доступность
					</h3>

					<p>
						Мы ориентированы на ваши интересы и&nbsp;бюджет
					</p>

					<img src="/img/about/piggy-bank.svg" loading="lazy" width="106" height="106" alt="">

				</li>

			</ul>

		</div>

		<div class="page-about__offers">

			<h2 class="page-about__head h1">
				Наши предложения
			</h2>

			<ol>

				<li>

					<h3>
						Простые решения для сложных задач
					</h3>

					<p>
						Во всем, от концепции и сметы до отправления фото и видео с праздника, мы стремимся к максимальной четкости, прозрачности и удобству для клиента.
					</p>

				</li>

				<li>

					<h3>
						Инвестиции в будущее
					</h3>

					<p>
						Вы инвестируете в лояльность, в развитие, в новые достижения, в радость и счастливые улыбки Ваших близких, сотрудников или клиентов.
					</p>

				</li>

				<li>

					<h3>
						Яркие эмоции
					</h3>

					<p>
						С какими бы задачами ни пришел к нам клиент, мы предложим варианты, которые сделают праздник по-настоящему удивительным для всех его участников.
					</p>

				</li>

				<li>

					<h3>
						Результат
					</h3>

					<p>
						Совместный отдых, игра и развлечение, положительные эмоции и радость - это именно тот результат, ради которого мы работаем.
					</p>

				</li>

			</ol>

		</div>

		<div class="page-about__contact">

			<h2 class="page-about__contact-title h1">
				Как с нами связаться?
			</h2>

			<p class="page-about__contact-phone">

				<a href="tel:88121234567">
					8 (812) 123 45 67
				</a>

			</p>

			<p class="page-about__contact-email">

				<a href="mailto:info@info.ru">
					info@info.ru
				</a>

			</p>

			<p class="page-about__contact-social">

				<span class="page-about__contact-social-links">

					<a href="/" title="vkontakte" target="_blank" rel="noopener">
						<svg width="25" height="25" viewBox="0 0 25 25">
							<path d="M15.93 0H8.45C1.62 0 0 1.63 0 8.5v7.55c0 6.87 1.62 8.5 8.45 8.5h7.48c6.82 0 8.44-1.63 8.44-8.5V8.5c0-6.88-1.62-8.51-8.44-8.51zm3.75 17.52H17.9c-.67 0-.88-.55-2.06-1.77-1.07-1.02-1.53-1.16-1.79-1.16-.35 0-.46.1-.46.6v1.62c0 .43-.14.7-1.27.7-1.88 0-3.96-1.16-5.42-3.28-2.2-3.12-2.8-5.48-2.8-5.94 0-.26.08-.5.6-.5h1.78c.45 0 .62.19.8.68.87 2.58 2.33 4.79 2.93 4.79.23 0 .33-.11.33-.68V9.94c-.06-1.2-.7-1.3-.7-1.74 0-.22.16-.42.45-.42h2.79c.37 0 .5.2.5.67v3.54c0 .39.17.52.29.52.22 0 .41-.13.81-.55a15.13 15.13 0 002.2-3.66c.12-.26.31-.5.79-.5h1.74c.54 0 .66.28.54.66-.22 1.04-2.39 4.12-2.37 4.12-.19.31-.26.45 0 .8.19.26.8.8 1.22 1.28.76.87 1.34 1.6 1.5 2.1.14.5-.1.76-.62.76z"/>
						</svg>
					</a>

					<a href="/" title="instagram" target="_blank" rel="noopener">
						<svg width="25" height="25" viewBox="0 0 25 25">
							<path d="M24.92 7.25a8.93 8.93 0 00-.57-3.02A6.28 6.28 0 0020.8.65a8.9 8.9 0 00-2.96-.58C16.53.02 16.12 0 12.81 0 9.51 0 9.08 0 7.8.07a8.9 8.9 0 00-2.96.58 6.23 6.23 0 00-3.56 3.58A8.97 8.97 0 00.7 7.21a87.63 87.63 0 00-.07 5.05c0 3.32 0 3.74.07 5.05.02 1.01.21 2.02.57 2.97a6.28 6.28 0 003.57 3.59c.94.37 1.94.57 2.95.6 1.3.07 1.72.08 5.02.08s3.73 0 5.02-.07a8.87 8.87 0 002.96-.57 6.24 6.24 0 003.57-3.59c.35-.95.54-1.95.56-2.97.06-1.31.08-1.73.08-5.05 0-3.33 0-3.75-.08-5.05zM12.8 18.55a6.27 6.27 0 01-6.25-6.3A6.27 6.27 0 0117.23 7.8a6.31 6.31 0 01-4.43 10.74zm6.51-11.36a1.46 1.46 0 01-1.35-2.03 1.47 1.47 0 011.35-.9 1.45 1.45 0 011.35.9A1.47 1.47 0 0119.3 7.2z"/>
							<path d="M12.8 16.34a4.08 4.08 0 004.07-4.1 4.08 4.08 0 00-4.07-4.08 4.08 4.08 0 00-4.06 4.09 4.08 4.08 0 004.06 4.09z"/>
						</svg>
					</a>

				</span>

				Покупайте подарки-впечатления у нас!

			</p>

		</div>

	</div>

</article>

{% endblock %}