{% set title = "FAQ" %}

{% set description = "Вопросы до и после покупки" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

<article class="page">

	<div class="center">

		<h1 class="page__title h1">
			{{ title }}
		</h1>

		<div class="service-oferta">

			<h2 class="service-oferta__head h2">
				Вопросы до покупки
			</h2>

{% set accordion = [

	"Как выглядит подарок?",
	"Сколькими услугами из набора можно воспользоваться?",
	"Какой срок действия сертификата?",
	"Где проводится услуга?",
	"Нужно ли что-то доплачивать получателю подарка?",
	"Мне понравился набор. Чтобы купить, я сейчас должен выбрать конкретное впечатление?"

] %}

{% include "gift/faq/item.html" %}

			<h2 class="service-oferta__head h2">
				Вопросы после покупки
			</h2>

{% set accordion = [

	"Как записаться на услугу?",
	"Когда можно воспользоваться услугой?",
	"Возможно ли поменять услугу если я уже записан(а)?",
	"Я потерял сертификат, можно ли получить услугу без него?",
	"Срок годности сертификата истек, можно ли им воспользоваться?",
	"Что делать, если я не смог посетить услугу? Я могу ее посетить в другой день?",
	"Что мне делать, если я опаздываю на забронированную услугу? ",
	"Как мне вернуть подарок?"

] %}

{% include "gift/faq/item.html" %}

		</div>

	</div>

</article>

{% endblock %}