
<article class="first-screen">

	<div class="center">

		<div class="first-screen__bg">

			<img class="first-screen__bg-anim" src="/img/first-screen/bg-anim.svg" width="1489" height="700" loading="lazy" alt="">

			<img data-xrange="80" data-yrange="80" class="js-plaxify first-screen__bg-21" src="/img/first-screen/bg-21.svg" width="439" height="433" loading="lazy" alt="">
			<img data-xrange="80" data-yrange="80" class="js-plaxify first-screen__bg-22" src="/img/first-screen/bg-22.svg" width="267" height="267" loading="lazy" alt="">

			<img data-xrange="40" data-yrange="40" class="js-plaxify first-screen__bg-3" src="/img/first-screen/bg-3.svg" width="478" height="475" loading="lazy" alt="">
			<img data-xrange="40" data-yrange="40" class="js-plaxify first-screen__bg-4" src="/img/first-screen/bg-4.svg" width="336" height="342" loading="lazy" alt="">
			<img data-xrange="40" data-yrange="40" class="js-plaxify first-screen__bg-1" src="/img/first-screen/bg-1.svg" width="187" height="187" loading="lazy" alt="">

			<img data-xrange="20" data-yrange="20" class="js-plaxify first-screen__bg-24" src="/img/first-screen/bg-24.svg" width="272" height="166" loading="lazy" alt="">
			<img data-xrange="20" data-yrange="20" class="js-plaxify first-screen__bg-25" src="/img/first-screen/bg-25.svg" width="592" height="605" loading="lazy" alt="">
			<img data-xrange="20" data-yrange="20" class="js-plaxify first-screen__bg-26" src="/img/first-screen/bg-26.svg" width="393" height="168" loading="lazy" alt="">
			<img data-xrange="20" data-yrange="20" class="js-plaxify first-screen__bg-27" src="/img/first-screen/bg-27.svg" width="304" height="212" loading="lazy" alt="">
			<img data-xrange="20" data-yrange="20" class="js-plaxify first-screen__bg-28" src="/img/first-screen/bg-28.svg" width="956" height="605" loading="lazy" alt="">

			<img data-invert="true" data-xrange="40" data-yrange="40" class="js-plaxify first-screen__bg-2" src="/img/first-screen/bg-2.svg" width="306" height="446" loading="lazy" alt="">

		</div>

		<div class="first-screen__box">

			<div class="first-screen__content">

				<img data-invert="true" data-xrange="40" data-yrange="40" class="js-plaxify first-screen__bg-mobile" src="/img/first-screen/bg-110.svg" width="293" height="252" loading="lazy" alt="">

				<h2 class="h1">
					Выбирайте и покупайте подарок-впечателение
				</h2>

				<p>
					Более 1000 сертификатов на подарки впечатления
				</p>

				<div class="first-screen__btn">

					<a href="/demo" class="btn btn--big btn--yellow">
						Начать покупки
					</a>

				</div>

			</div>

			<div class="first-screen__swiper-caterory">

{% include "_include/swiper-caterory.html" %}

			</div>

			<div class="first-screen__social">

{% include "template/social.html" %}

			</div>

		</div>

	</div>

</article>