{% set title = "Профили в соц. сетях" %}

{% extends "template/lk.html" %}

{% block content %}

	<h1 class="lk__title">

		<span class="lk__title-ico">
			<svg width="32" height="32" viewBox="0 0 32 32"><path d="M30 28s2 0 2-2-2-8-10-8-10 6-10 8 2 2 2 2h16zm-15.96-2a.5.5 0 01-.04 0c0-.54.33-2.07 1.52-3.45C16.62 21.25 18.56 20 22 20c3.43 0 5.37 1.26 6.48 2.55A6.16 6.16 0 0130 26h-.02l-.02.01H14.04zM22 14a4 4 0 100-8 4 4 0 000 8zm6-4a6 6 0 11-12 0 6 6 0 0112 0zm-14.13 8.56A11.76 11.76 0 0010 18c-8 0-10 6-10 8 0 1.33.67 2 2 2h8.43c-.3-.62-.44-1.3-.43-2 0-2.02.75-4.08 2.18-5.8.49-.6 1.05-1.15 1.7-1.64zM9.84 20A10.99 10.99 0 008 26H2c0-.52.33-2.06 1.52-3.45C4.61 21.28 6.5 20.04 9.84 20zM3 11a6 6 0 1112 0 6 6 0 01-12 0zm6-4a4 4 0 100 8 4 4 0 000-8z"/></svg>
		</span>

		{{ title }}

	</h1>

	<p class="lk__intro">
		Теперь войти стало еще проще с помощью учетных записей в социальных сетях.
	</p>

	<div class="lk-social">

		<div class="lk-social__item">

			<form action="/" class="lk-social__form">

				<div class="lk-social__logo">
					<img src="/img/lk/social/facebook--grey.svg" width="55" height="55" alt="">
				</div>

				<div class="lk-social__name">
					Facebook
				</div>

				<div class="lk-social__btn">

					<button class="btn-submit btn btn--outline">
						Подключиться
					</button>

				</div>

			</form>

		</div>

		<div class="lk-social__item">

			<form action="/" class="lk-social__form">

				<div class="lk-social__logo">
					<img src="/img/lk/social/google.svg" width="55" height="55" alt="">
				</div>

				<div class="lk-social__name">
					Google
				</div>

				<div class="lk-social__btn">

					<button class="btn-submit btn btn--grey">
						Отключиться
					</button>

				</div>

			</form>

			<div class="lk-social__connect">

				<hr>

				Яна Тодоровская

			</div>

		</div>

		<div class="lk-social__item">

			<form action="/" class="lk-social__form">

				<div class="lk-social__logo">
					<img src="/img/lk/social/vk--grey.svg" width="55" height="55" alt="">
				</div>

				<div class="lk-social__name">
					Vkontakte
				</div>

				<div class="lk-social__btn">

					<button class="btn-submit btn btn--outline">
						Подключиться
					</button>

				</div>

			</form>

		</div>

	</div>

{% endblock %}