.about {

	padding: 80px 0;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1708' height='830' viewBox='0 0 1708 830' preserveAspectRatio='none'%3E%3Cpath d='M114.2 265.63c409.5-581.5 1593.5-27 1593.5-27l-172 590.5H25.7s-97.9-298.8 88.5-563.5z' fill='%23FF4D6A' fill-opacity='.07'/%3E%3C/svg%3E");
	background-size: 1708px 100%;
	background-repeat: no-repeat;
	background-position: center;

	@media ($mdWidth) {

		display: none;

	}

	&__title {

		text-align: center;

	}

	&__box {

		display: flex;
		justify-content: center;
		margin-top: 34px;

	}

	&__item {

		width: 570px;
		padding: 48px 24px;
		margin: 15px;
		background-color: #fff;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
		font-size: 17px;
		line-height: 21px;
		color: #000;

	}

	&__ico {

		height: 110px;
		display: flex;
		align-items: center;

	}

	&__name {

		font-weight: 500;
		font-size: 40px;
		line-height: 49px;
		margin-bottom: 20px;

	}

	&__text {

		margin-bottom: 40px;
		max-width: 440px;

	}

}