.about {

	padding: 80px 0;
	background-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' width='2628' height='849' viewBox='0 0 2628 849' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M460.5 304.24c495.5-572.5 1514-228 1832.5 144 192.39 224.7 240.71 279.46 335 400.5H0s241.58-291.56 460.5-544.5z' fill='%23FF4D6A' fill-opacity='.07'/%3E%3C/svg%3E");
	background-size: 2628px 100%;
	background-repeat: no-repeat;
	background-position: center;

	@media ($mdWidth) {

		padding: 40px 0 20px;

	}

	&__title {

		text-align: center;

		@media ($xsWidth) {

			br {

				display: none;

			}

		}

	}

	&__box {

		display: flex;
		justify-content: center;
		margin-top: 34px;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__item {

		width: 570px;
		padding: 48px 24px;
		margin: 15px;
		background-color: #fff;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
		font-size: 17px;
		line-height: 21px;
		color: #000;

		@media ($mdWidth) {

			width: 100%;
			margin: 30px 0;
			padding: 24px;
			font-size: 14px;
			line-height: 17px;

		}

	}

	&__ico {

		height: 110px;
		display: flex;
		align-items: center;

		@media ($mdWidth) {

			height: auto;

			img {

				height: 50px;
				width: auto;

			}

		}

	}

	&__name {

		font-weight: 500;
		font-size: 40px;
		line-height: 49px;
		margin-bottom: 20px;

		@media ($mdWidth) {

			font-size: 24px;
			line-height: 29px;
			margin: 20px 0;

		}

	}

	&__text {

		margin-bottom: 40px;
		max-width: 440px;

		@media ($mdWidth) {

			margin-bottom: 20px;

		}

	}

}