.best-gifts {

	overflow: hidden;
	padding: 170px 0 0;
	background-image: url("data:image/svg+xml,%3Csvg preserveAspectRatio='none' width='2558' height='842' viewBox='0 0 2558 842' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M883.77 698C507.96 735.56-76.37 887.37 8.27 766 364.4 255.31 2419.77-406.43 2554.04 325.53 2581.27 474 2441.4 441.9 2413.77 616.5c-77 486.5-965.34 25.07-1530 81.5z' fill='%23F8F8F8'/%3E%3C/svg%3E");
	background-position: top;
	background-repeat: no-repeat;

	@media ($mdWidth) {

		background: #f8f8f8;
		padding: 20px 0 0;

	}

	&__bg-1 {

		position: absolute;
		top: 20px;
		right: -300px;
		pointer-events: none;

		@media ($mdWidth) {

			width: auto;
			height: 263px;
			top: auto;
			bottom: 0;
			right: -50px

		}

	}

	&__bg-2 {

		position: absolute;
		top: -74px;
		left: -474px;
		pointer-events: none;;

		@media ($mdWidth) {

			width: auto;
			height: 226px;
			left: -20px;
			top: 128px;

		}

	}

	&__content {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	&__title {

		text-align: center;
		margin: 22px 0;

	}

	&__swiper {

		margin: 34px -15px 0;
		position: relative;
		overflow: hidden;
		padding: 15px 15px 100px;

		.swiper-container {

			overflow: visible !important;

		}

		&-list {

			display: flex;
			justify-content: space-between;

		}

		&-item {

			width: 370px;
			display: flex;
			flex-shrink: 0;

			@media ($mdWidth) {

				width: 100%;
				padding: 20px;

			}

			@media ($xsWidth) {

				padding: 10px;

			}

		}

		@media ($mdWidth) {

			margin: 0 -20px 20px;
			padding: 0 0 40px;

		}

		@media ($xsWidth) {

			margin: 0 -10px 20px;

		}

	}

}