.catalog {

	margin-bottom: 65px;

	&-filter {

		background-color: var(--blue);
		color: #fff;

		&__box {

			display: flex;
			justify-content: space-between;
			padding: 20px 0;

		}

		&__fieldset {

			display: flex;
			flex-grow: 1;

		}

		&__item {

			position: relative;
			flex-grow: 1;

			&-btn {

				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
				font-size: 12px;
				color: #fff;
				width: 100%;
				height: 32px;
				text-align: left;
				background-position: right;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' fill='white' viewBox='0 0 9 5'%3E%3Cpath d='M1.64 0L4.5 3.13 7.36 0 8.5.63 4.5 5 .5.62 1.64 0z'/%3E%3C/svg%3E");

				&.is-checked {

					font-weight: 700;
					border-top-width: 2px;

				}

			}

			& + & {

				margin-left: 36px;

			}

			&-inner {

				position: absolute;
				top: 0;
				left: 0;

			}

		}

		&__reset {

			width: 170px;
			margin-left: 40px;

		}

	}

	&-sort {

		background-color: #f1f1f1;

		&__box {

			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0;

		}

		&__type {

			display: flex;

			.radio-input {

				flex-direction: row;

				&__item {

					margin: 0 72px 0 0 !important;

				}

				&__label::before {

					border-color: #cacaca;
					background-color: #cacaca;

				}

				&__input:checked + .radio-input__label {

					font-weight: 400;
					color: #000;

					&::before {

						border-color: var(--blue);
						background-color: #fff;
						box-shadow: 0 0 0 1px var(--blue);

					}

				}

			}

		}

		&__fieldset {

			display: flex;
			align-items: center;

		}

		&__radio-grid {

			padding: 10px;
			position: relative;
			cursor: pointer;

			input {

				position: absolute;
				width: 10px;
				height: 10px;
				top: 0;
				left: 0;
				appearance: none;
				opacity: 0;

				&:focus {

					outline: none;

				}

				&:checked + svg {

					fill: #979797;

				}

			}

		}

		&__item {

			position: relative;
			flex-grow: 1;
			margin-left: 36px;

			&-btn {

				border-top: 2px solid var(--blue);
				border-bottom: 1px solid #303030;
				font-size: 12px;
				padding-right: 40px;
				font-weight: 700;
				color: #3f3f3f;
				width: 100%;
				height: 32px;
				text-align: left;
				background-position: right;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' fill='%233f3f3f' viewBox='0 0 9 5'%3E%3Cpath d='M1.64 0L4.5 3.13 7.36 0 8.5.63 4.5 5 .5.62 1.64 0z'/%3E%3C/svg%3E");

			}

			&-inner {

				position: absolute;
				top: 0;
				left: 0;

			}

		}

	}

	&__total {

		text-align: center;
		margin: 26px 0;
		font-size: 12px;
		line-height: 15px;
		color: var(--grey);

	}

	&__progress {

		text-align: center;
		font-size: 12px;
		line-height: 15px;
		color: var(--grey);

		&-bar {

			display: block;
			height: 2px;
			background-color: #ccc;
			width: 180px;
			margin: 16px auto;
			position: relative;

			&-line {

				position: absolute;
				width: 0;
				top: 0;
				left: 0;
				bottom: 0;
				content: '';
				background-color: var(--blue);

			}

		}

	}

	&__foot {

		margin: 28px 0;
		display: flex;
		justify-content: center;

	}

	&__rows {

		margin-bottom: 50px;

		@media ($mdWidth) {

			margin: 0 -15px;
			display: flex;
			flex-wrap: wrap;

		}

		@media ($smWidth) {

			margin: 0;
			display: block;

		}

	}

	&__column {

		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;

		@media ($smWidth) {

			margin: 0;
			display: block;

		}

	}

	&-item {

		position: relative;
		margin: 30px 0;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		background-color: #fff;
		display: flex;

		@media ($mdWidth) {

			width: calc(50% - 30px);
			flex-direction: column;
			margin: 0 15px 50px;
			border-radius: 0;

		}

		@media ($smWidth) {

			margin: 20px 0;
			width: 100%;
			display: block;

		}

		&--column {

			width: 270px;
			border-radius: 0;
			margin: 0 15px 50px;
			flex-direction: column;

		}

		&__img {

			width: 374px;
			flex-shrink: 0;
			position: relative;
			background-color: #ebebeb;
			margin-right: 24px;

			@media ($mdWidth) {

				width: 100%;
				margin: 0;

				img {

					width: 100%;
					height: auto;

				}

			}

			@media ($smWidth) {

				width: 100%;

			}

			.catalog-item--column & {

				width: 100%;
				margin: 0;

			}

		}

		&__sale {

			position: absolute;
			top: 0;
			left: 0;
			font-weight: bold;
			font-size: 17px;
			line-height: 27px;
			color: #fff;
			padding: 0 13px 0 10px;
			background-color: var(--red);

			@media ($smWidth) {

				font-size: 12px;
				line-height: 16px;
				padding: 0 6px;
				top: 5px;

				&::after {

					border-width: 16px 5px 0 0;

				}

			}

			&::after {

				position: absolute;
				top: 0;
				left: 100%;
				content: '';
				border-color: transparent;
				border-width: 27px 12px 0 0;
				border-style: solid;
				border-top-color: var(--red);

			}

		}

		&__favourites {

			position: absolute;
			top: 10px;
			right: 12px;

			@media ($smWidth) {

				top: 5px;
				right: 5px;

			}

			.catalog-item--column & {

				top: 5px;
				right: 5px;

				.button {

					width: 32px;
					height: 32px;

				}

			}

			.button {

				width: 47px;
				height: 47px;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.8);

				@media ($smWidth) {

					width: 22px;
					height: 22px;

					svg {

						width: 14px;
						height: 14px;

					}

				}

			}

			svg {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				fill: gray;
				margin: auto;

			}

			&.in-list {

				.button {

					background-color: var(--blueText);

					svg {

						fill: #fff;

					}

				}

			}

		}

		&__body {

			padding: 24px 20px;
			flex-grow: 1;
			display: flex;
			flex-direction: column;

		}

		&__title {

			font-size: 18px;
			line-height: 22px;
			margin-bottom: 10px;

			@media ($smWidth) {

				font-size: 16px;
				line-height: 20px;

			}

			.catalog-item--column & {

				font-size: 16px;
				line-height: 20px;

			}

		}

		&__desc {

			font-size: 12px;
			line-height: 15px;
			color: var(--grey);
			max-width: 420px;

		}

		hr {

			background-color: #c4c4c4;
			margin: 16px 0 8px;

		}

		&__select {

			&-label {

				font-size: 12px;
				line-height: 15px;
				max-width: 365px;

			}

			&-box {

				display: flex;
				align-items: center;
				margin: 10px 0;

				&-label {

					width: 130px;
					margin-right: 12px;
					flex-shrink: 0;
					font-size: 12px;
					line-height: 15px;
					color: var(--grey);

				}

				.select {

					@media ($desktop) {

						&::after {

							border-width: 4px;
							right: 10px;

						}

						select {

							padding: 0;
							text-align: center;
							font-size: 12px;

							.catalog-item--column & {

								min-width: 88px;
								padding-left: 6px;
								text-align: left;

							}

						}

					}

					@media ($mdWidth) {

						select {

							padding: 2px 10px;

						}

					}

				}

			}

		}

		&__label {

			display: flex;
			margin-bottom: 12px;

			&-inner {

				font-size: 14px;
				line-height: 26px;
				white-space: nowrap;
				padding: 0 14px;
				border-radius: 4px;

			}

			&--yellow &-inner {

				background-color: #FFEA90;

			}

			&--green &-inner {

				background-color: #CCFFD5;

			}

		}

		&__column {

			display: flex;
			justify-content: space-between;

			@media ($mdWidth) {

				flex-direction: column;
				flex-grow: 1;

			}

			@media ($smWidth) {

				display: block;

			}

		}

		&__details {

			@media ($mdWidth) {

				width: 100%;

			}

		}

		&__buy {

			width: 246px;
			margin-left: 44px;
			flex-shrink: 0;
			align-self: flex-end;

			&-submit {

				width: 100%;

				@media ($smWidth) {

					width: auto;
					margin-top: 20px;

				}

			}

			@media ($mdWidth) {

				width: 100%;
				margin: auto 0 0;
				padding-top: 10px;

			}

			.catalog-item--column & {

				width: 100%;
				margin: auto 0 0;
				padding-top: 10px;

				.btn {

					width: auto;
					margin-top: 20px;

				}

			}

			&-delivery {

				margin-bottom: 36px;
				white-space: nowrap;

				@media ($mdWidth) {

					margin-bottom: 18px;

				}

				.catalog-item--column & {

					margin-bottom: 18px;

				}

				.radio-input__label {

					display: flex;
					align-items: baseline;
					padding-left: 24px;
					color: #C4C4C4;

					&::before {

						border-color: #f2f2f2;
						background-color: #f2f2f2;
						box-shadow: 0 0 0 1px #f2f2f2;
						top: 1px;

					}

				}

				.radio-input__input:checked + .radio-input__label &-price-old {

					color: var(--grey);

				}

				&-label {

					flex-grow: 1;

				}

				&-price {

					font-weight: bold;
					font-size: 17px;
					width: 90px;
					flex-shrink: 0;

					&-old {

						font-weight: normal;
						font-size: 15px;
						line-height: 18px;
						margin-top: 5px;
						display: block;
						text-decoration: line-through;

					}

				}

			}

		}

		&__count-set {

			display: flex;
			align-items: center;
			color: var(--blue);
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 18px;
			white-space: nowrap;

			@media ($mdWidth) {

				font-size: 12px;
				margin-bottom: 4px;
				color: var(--grey);

				svg {

					display: none;

				}

			}

			.catalog-item--column & {

				font-size: 12px;
				margin-bottom: 4px;
				color: var(--grey);

				svg {

					display: none;

				}

			}

			svg {

				fill: var(--blue);
				margin-right: 5px;

			}

			b {

				margin-left: 5px;

			}

		}

		&__param {

			font-size: 12px;
			line-height: 15px;
			color: var(--grey);
			column-count: 2;

			&--img {

				font-size: 12px;
				line-height: 15px;
				color: #fff;
				column-count: auto;

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 0 10px;
				border: 10px solid transparent;
				background-color: color(var(--blue) a(74%));

				overflow-y: auto;

				scrollbar-width: thin;
				scrollbar-color: #fff transparent;

				&::-webkit-scrollbar {

					width: 6px;
					border-radius: 3px;
					background-color: transparent;

				}

				&::-webkit-scrollbar-thumb {

					border-radius: 3px;
					background-color: #fff;

				}

			}

		}

		&__show-param {

			margin-bottom: 10px;

			@media ($smWidth) {

				margin-bottom: 20px;

			}

			&-inner {

				display: flex;
				align-items: center;
				color: var(--blue);
				font-size: 14px;
				line-height: 17px;

				svg {

					fill: var(--blue);
					margin-left: 6px;

				}

			}

		}

	}

}