.cloud-space {

	margin: 72px 0;

	@media ($mdWidth) {

		margin: 36px 0;

	}

	@media ($smWidth) {

		margin: 32px 0;

	}

	&__box {

		display: flex;
		padding-top: 24px;

		@media ($smWidth) {

			display: block;
			padding: 0;
			text-align: center;

		}

	}

	&__content {

		padding: 24px 0 0;

		@media ($smWidth) {

			padding: 0;

		}

	}

	&__img {

		padding: 0 58px;
		flex-shrink: 0;

		@media ($mdWidth) {

			padding: 0;

			img {

				width: 260px;
				height: 282px;

			}

		}

		@media ($smWidth) {

			img {

				margin: 40px auto 30px;

			}

		}

	}

	p {

		font-size: 24px;
		font-weight: 300;
		line-height: 40px;
		margin: 36px 0 60px;

		@media ($mdWidth) {

			font-size: 20px;
			line-height: 30px;
			margin: 20px 0 30px;

		}

	}

	&__btns {

		display: flex;

		.btn {

			margin-right: 24px;

		}

		@media ($smWidth) {

			justify-content: center;
			margin: 0 -10px;

			.btn {

				margin: 0 10px;

			}

		}

	}

}