.custom-gift {

	margin-bottom: 54px;
	position: relative;
	overflow: hidden;

	@media ($smWidth) {


	}

	&__swiper {

		&-list {

			display: flex;

		}

		&-item {

			display: flex;
			width: 100%;

		}

		&:not(.swiper-container-style) .custom-gift__swiper-item {

			&:nth-child(1) {

				z-index: 1;

			}

			&:nth-child(2) {

				margin-left: -100%;

			}

		}

	}

	&__content {

		width: 620px;
		padding: 100px 0;
		flex-shrink: 0;
		transition: var(--transitionDefault);
		opacity: 0;

		.custom-gift__swiper:not(.swiper-container-style) .custom-gift__swiper-item:nth-child(1) &,
		.swiper-slide-active &,
		.swiper-slide-duplicate-active & {

			opacity: 1 !important;

		}

		.text-intro {

			text-align: left;
			max-width: 500px;

			p {

				margin: 30px 0;

			}

		}

	}

	&__title {

		margin-bottom: 60px;

	}

	.swiper-container-style .swiper-controls {

		left: 0;
		right: 0;

	}

	.swiper-container-style .swiper-container {

		overflow: visible;

	}

	&__img {

		flex-grow: 1;
		display: flex;
		align-items: center;
		position: relative;

		.custom-gift__swiper:not(.swiper-container-style) .custom-gift__swiper-item:nth-child(1) & img,
		.swiper-slide-active & img,
		.swiper-slide-duplicate-active & img {

			transform: translate3d(0, 0, 0) scale(1);
			box-shadow: 0 0 20px rgba(0,0,0,.1);

		}

		img {

			background-color: #fff;
			transform: translate3d(500px, 0, 0) scale(.88);
			transition: var(--transitionDefault);
			transform-origin: left;

		}

	}

	&__bg {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;

		&-1 {

			position: absolute;
			top: 40px;
			right: -240px;

		}

		&-2 {

			position: absolute;
			top: 30px;
			right: -640px;

		}

	}

}