.custom-gift {

	position: relative;
	overflow: hidden;
	padding: 100px 0 0;

	@media ($mdWidth) {

		padding: 60px 0 0;

	}

	&__title {

		@media ($mdWidth) {

			text-align: center;
			position: relative;

		}

	}

	&__swiper {

		padding-bottom: 100px;

		@media ($mdWidth) {

			margin: 0 -20px;
			padding: 0;

			.swiper-controls {

				bottom: 10px;

			}

			&:not(.swiper-container-style) .custom-gift__swiper-item {

				&:nth-child(2) {

					display: none;

				}

			}

		}

		@media ($xsWidth) {

			margin: 0 -10px;

		}

		&-list {

			display: flex;

		}

		&-item {

			display: flex;
			width: 100%;
			flex-shrink: 0;

			@media ($mdWidth) {

				flex-direction: column-reverse;
				justify-content: flex-end;
				text-align: center;
				padding: 30px 20px;

			}

		}

		@media ($desktop) {

			&:not(.swiper-container-style) .custom-gift__swiper-item {

				&:nth-child(1) {

					z-index: 1;

				}

				&:nth-child(2) {

					margin-left: -100%;

				}

			}

		}

	}

	@media ($desktop) {

		&__content {

			width: 620px;
			flex-shrink: 0;
			padding-top: 30px;
			transition: var(--transitionDefault);
			opacity: 0;

			.custom-gift__swiper:not(.swiper-container-style) .custom-gift__swiper-item:nth-child(1) &,
			.swiper-slide-active &,
			.swiper-slide-duplicate-active & {

				opacity: 1 !important;

			}

			.text-intro {

				text-align: left;
				max-width: 500px;

				p {

					margin: 30px 0;

				}

			}

		}

		.swiper-container-style .swiper-controls {

			left: 0;
			right: 0;

		}

		.swiper-container-style .swiper-container {

			overflow: visible;

		}

		&__img {

			flex-grow: 1;
			display: flex;
			align-items: center;
			position: relative;
			padding: 20px 0 80px;

			.custom-gift__swiper:not(.swiper-container-style) .custom-gift__swiper-item:nth-child(1) & img,
			.swiper-slide-active & img,
			.swiper-slide-duplicate-active & img {

				transform: translate3d(0, 0, 0) scale(1);
				box-shadow: 0 0 20px rgba(0,0,0,.1);

			}

			img {

				background-color: #fff;
				transform: translate3d(500px, 0, 0) scale(.88);
				transition: var(--transitionDefault);
				transform-origin: left;

			}

		}

	}

	@media ($mdWidth) {

		.link-all {

			display: none;

		}

		&__img {

			img {

				width: 100%;
				height: auto;

			}

		}

		&__content {

			margin: 20px;
			font-weight: 300;
			font-size: 14px;
			line-height: 133%;
			text-align: center;
			letter-spacing: 0.05em;
			color: #000;

			p {

				margin: 1.3em 0;

			}

		}

	}

	&__bg {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;

		&-1 {

			position: absolute;
			top: 40px;
			right: -240px;

			@media ($mdWidth) {

				display: none;

			}

		}

		&-2 {

			position: absolute;
			top: 30px;
			right: -640px;

			@media ($mdWidth) {

				display: none;

			}

		}

		&-mobile {

			display: none;

			@media ($mdWidth) {

				display: block;
				position: absolute;
				width: 100%;
				height: 256px;
				top: 40px;
				left: 0;
				right: 0;
				object-fit: cover;

			}

		}

	}

}