.footer {

	flex-shrink: 0;
	background-color: #303343;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	color: #cacaca;

	@media ($mdWidth) {

		display: none;

	}

	&__top {

		display: flex;
		justify-content: space-between;
		padding-top: 34px;

	}

	&__logo {

		margin-bottom: 28px;

	}

	&__social {

		margin-bottom: 24px;

	}

	&__phone {

		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 22px;

		a {

			color: #fff;

		}

	}

	&__address {

		font-size: 14px;
		line-height: 16px;
		font-family: Roboto;


	}

	&__left {

		@media ($desktop) {

			width: 256px;
			flex-shrink: 0;

		}

	}

	&__box {

		display: flex;

	}

	&__right {

		@media ($desktop) {

			flex-shrink: 0;

		}

		@media ($mdWidth) {

			.social {

				justify-content: center;

			}

		}

		&-head {

			color: var(--text);
			margin: 12px 0 20px;

			@media ($smWidth) {

				margin-top: 18px;

			}

		}

	}

	&__bottom {

		font-family: Roboto;
		display: flex;
		margin: 22px 0;

		&-menu {

			display: flex;
			flex-grow: 1;
			justify-content: space-around;

			a {

				color: inherit;

			}

		}

	}

	&__copyright {

		width: 300px;
		flex-shrink: 0;
		margin-right: 128px;

	}

	&__menu {

		margin-left: 60px;
		min-width: 140px;

		&-head {

			color: #fff;
			font-size: 12px;
			line-height: 14px;
			font-weight: 700;
			margin: 10px 0;

		}

		&-spec {

			margin-top: 15px;

		}

		li {

			font-size: 12px;
			line-height: 15px;

		}

		a {

			color: #fff;
			font-weight: 400;

			@media ($desktop) {

				&:hover {

					/* color: var(--text); */

				}

			}

		}

	}

	hr {

		margin: 40px 0 20px;
		background-color: rgba(191, 191, 191, 0.5);

	}

}