.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	cursor: pointer;
	user-select: none;
	position: relative;
	font-size: 0;
	color: transparent;
	text-align: center;
	white-space: nowrap;
	display: block;
	flex-shrink: 0;

	&:focus {

		outline: none;

	}

	&:hover {

		cursor: pointer;

	}

	&:disabled {

		pointer-events: none;
		opacity: .3;

	}

}

.btn {

	font-weight: 700;

	&--blue {

		color: #fff;
		font-size: 12px;
		height: 40px;
		line-height: 40px;
		padding: 0 24px;
		text-transform: uppercase;
		background-color: var(--blue);

		@media ($desktop) {

			&:hover {

				background-color: var(--blueText);

			}

		}

	}

	&--red {

		color: #fff;
		background-color: var(--red);

		@media ($desktop) {

			&:hover {

				/* background-color: #524BE0; */

			}

		}

	}

	&--yellow {

		color: #000;
		background-color: var(--yellow);

		@media ($desktop) {

			&:hover {

				background-color: var(--yellowHover);

			}

		}

	}

	&--buy {

		color: #000;
		border-radius: 1px;
		height: 40px;
		line-height: 40px;
		text-transform: uppercase;
		background-color: var(--yellow);
		font-size: 14px;
		padding: 0 30px;

		@media ($desktop) {

			&:hover {

				background-color: var(--yellowHover);

			}

		}

	}

	&--outline {

		color: var(--blue);
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 0 60px;
		height: 52px;
		line-height: 52px;
		box-shadow: inset 0 0 0 1px var(--blue);

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--blue);

			}

		}

	}

	&--reset {

		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		height: 32px;
		line-height: 32px;
		background-color: var(--blue);
		box-shadow: inset 0 0 0 2px #fff;
		width: 100%;

		@media ($desktop) {

			&:hover {

				color: var(--blue);
				background-color: #fff;

			}

		}

	}

	&--clear {

		color: var(--grey);
		font-size: 12px;
		text-transform: uppercase;
		height: 32px;
		line-height: 32px;
		box-shadow: inset 0 0 0 2px var(--grey);
		width: 100%;

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--grey);

			}

		}

	}

	&--big {

		padding: 0 28px;
		height: 54px;
		font-size: 17px;
		line-height: 54px;
		text-transform: uppercase;
		border-radius: 2px;

	}

	&--small {

		padding: 0 10px;
		height: 26px;
		font-size: 14px;
		line-height: 26px;

	}

	&--grey {

		background-color: #fff;
		color: var(--grey);
		font-size: 12px;
		height: 40px;
		line-height: 40px;
		padding: 0 24px;
		text-transform: uppercase;
		box-shadow: inset 0 0 0 1px var(--grey);

	}

	&--link {

		font-size: 14px;
		line-height: 17px;
		font-weight: 400;
		height: 17px;
		padding: 0;
		color: var(--blueText);

	}

}


.input {

	height: 50px;
	line-height: 20px;

	padding: 14px 20px;

	font-size: 16px;
	color: var(--color);
	font-weight: 400;

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px); /* FIX for iOS safari https://forum.ionicframework.com/t/ion-input-shows-only-the-first-entered-character-on-ios/73107/5 */

	border-radius: 2px;

	border: 1px solid var(--border);
	background-color: #fff;

	@media ($smWidth) {

		padding: 14px;

	}

	textarea& {

		height: 120px;
		overflow: hidden;
		resize: none;

	}

	&::placeholder {

		color: #939393;
		opacity: 1;
		font-size: 14px;
		font-weight: 300;

		@media ($smWidth) {

			font-size: 12px;

		}

	}

	&::-ms-clear {

		display: none;

	}

	@media ($desktop) {

		&:hover {

			/* border-color: var(--bg); */

		}

	}

	&:focus {

		outline: none;
		border-color: var(--color);

	}

	&:disabled {

		pointer-events: none;

	}

	&--error {

		border-color: var(--error);

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #fff;

	}

}

.radio-input {

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	&__item {

		cursor: pointer;
		position: relative;

		& + & {

			margin-top: 18px;

		}

	}

	&__input {

		position: absolute;
		width: 17px;
		height: 17px;
		top: 0;
		left: 0;
		appearance: none;
		opacity: 0;

		&:focus {

			outline: none;

		}

	}

	&__label {

		font-size: 14px;
		line-height: 17px;
		color: var(--grey);
		padding-left: 32px;
		position: relative;
		display: block;

		&::before {

			position: absolute;
			width: 6px;
			height: 6px;
			top: 0;
			left: 0;
			border-radius: 50%;
			content: '';
			border: 4px solid #fff;
			background-color: #fff;
			box-shadow: 0 0 0 1px var(--border);

		}

	}



	&__input:checked + &__label {

		font-weight: 700;
		color: var(--blueText);

		&::before {

			background-color: var(--blueText);

		}

	}

}


.select {

	position: relative;
	display: block;

	&::after {

		position: absolute;
		top: 50%;
		right: 14px;
		content: '';
		box-shadow: 0 0 0 8px #fff;
		background-color: #fff;
		pointer-events: none;
		margin-top: -2px;
		border: 5px solid transparent;
		border-top-color: var(--border);
		border-bottom: 0;

	}

	select {

		background-color: #fff;
		position: relative;
		display: block;
		font-size: 16px;
		font-family: inherit;
		color: var(--color);
		padding: 6px 10px;
		width: 100%;
		min-width: 130px;
		max-width: 100%;
		border: solid 1px var(--border);
		appearance: none;
		line-height: 20px;

		@media ($desktop) {

			font-size: 14px;

		}

		&::-ms-expand {

			display: none;

		}

		&:hover {

			cursor: pointer;

		}

		&:focus {

			outline: none;

		}

	}

	option {

		font-size: 16px;
		font-family: inherit;
		color: var(--color);
		line-height: 1.3;

	}

}


.checkbox {

	display: block;
	position: relative;
	cursor: pointer;

	font-size: 14px;
	line-height: 18px;
	font-weight: 300;

	&__input {

		position: absolute;
		width: 22px;
		height: 22px;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		display: block;
		padding: 2px 0 2px 32px;

		&::before {

			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			border-radius: 2px;
			border: 1px solid var(--border);
			background-color: #fff;

		}

	}

	&__input:checked + &__label::before {

		background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.6 8.8L1.47 5.92l-.67.74 3.91 3.56 6.12-7.29-.76-.64L4.6 8.8z' fill='%23fff'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		border-color: var(--blueText);
		background-color: var(--blueText);

	}

	&--error &__label::before {

		background-color: color(var(--error) a(50%));

	}

}

/* input-label */
.input-box {

	&__label {

		display: block;
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		margin: 6px 0;

		&--required::after {

			color: var(--red);
			content: '*';

		}

	}

	.input {

		height: 32px;
		line-height: 28px;
		padding: 2px 8px;

	}

}

/* tags-btn*/
.tags-btn {

	display: flex;
	flex-wrap: wrap;
	margin: -8px;

	&__item {

		flex-shrink: 0;
		margin: 8px;
		position: relative;

	}

	&__input {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.001;
		z-index: -1;

	}

	&__label {

		font-size: 12px;
		line-height: 21px;
		color: var(--grey);
		display: block;
		cursor: pointer;
		white-space: nowrap;
		padding: 0 20px;
		border: 1px solid;
		border-radius: 4px;
		position: relative;
		user-select: none;

	}

	&__input:checked ~ &__label {

		color: #fff;
		border-color: var(--blueText);
		background-color: var(--blueText);

	}

}