.header {

	position: relative;
	z-index: 9;
	border-bottom: 1px solid #ddd;
	background-color: #fff;

	@media ($mdWidth) {

		.center {

			width: 100%;

		}

	}

	&__flex {

		display: flex;

	}

	&__logo {

		width: 300px;
		flex-shrink: 0;
		display: flex;
		align-items: center;

		@media ($mdWidth) {

			margin: 8px 0;

			img {

				width: 120px;
				height: 26px;

			}

		}

		.visible-when-mobile-menu {

			display: none;

		}

	}

	&__box {

		flex-grow: 1;

		hr {

			background-color: #e1e1e1;

			@media ($mdWidth) {

				display: none;

			}

		}

	}

	@media ($desktop) {

		&__top {

			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 8px 0;

			&-menu {

				flex-grow: 1;
				max-width: 354px;

			}

			&-phone {

				flex-shrink: 0;
				margin-left: auto;

				a {

					font-family: Roboto;
					font-size: 16px;
					color: #545454;

				}

			}

			&-btn {

				flex-shrink: 0;
				margin-left: 36px;

			}

		}

		&__bottom {

			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 8px 0;

			&-menu {

				flex-grow: 1;
				margin-right: 68px;

			}

		}

		&__search {

			flex-shrink: 0;
			margin-left: 36px;

		}

		&__cart {

			flex-shrink: 0;
			margin-right: -5px;
			margin-left: 44px;

		}

	}

	@media ($mdWidth) {

		&__top,
		&__search,
		&__bottom-menu {

			@media ($mdWidth) {

				display: none;

			}

		}

	}

	&__btn-cart-mobile {

		@media ($desktop) {

			display: none;

		}

		@media ($smWidth) {


		}

		@media ($mdWidth) {

			width: 26px;
			height: 26px;
			position: absolute;
			top: 8px;
			right: 56px;

			svg {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				fill: none;
				stroke: #404040;

				.header-cart-show & {

					stroke: var(--blueText);

				}

			}

		}

	}

}

.header-cart {

	position: relative;

	&__btn {

		position: relative;
		display: block;

		@media ($mdWidth) {

			display: none;

		}

		&[data-count]::after {

			position: absolute;
			width: 20px;
			height: 20px;
			top: -4px;
			right: -5px;
			content: attr(data-count);
			color: #000;
			border-radius: 50%;
			background-color: #0fa;
			font-size: 14px;
			line-height: 20px;
			text-align: center;

		}

	}

	@media ($mdWidth) {

		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		padding: 0 20px 16px;
		z-index: 9;
		display: none;
		background-color: #fff;
		border-top: 1px solid var(--blueText);

		.header-cart-show & {

			display: block;

		}

	}

	@media (max-width: 1400px) and (min-width: 1200px) {

		&__box {

			margin-left: -222px !important;

			&-inner {

				&::after,
				&::before {

					left: 100% !important;
					margin-left: -38px !important;

				}

			}

		}

	}

	@media ($desktop) {

		.header-cart-show &__box {

			pointer-events: auto;

			&-inner {

				opacity: 1;
				transform: translateY(0);
				visibility: visible;
				transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

			}

		}

		&__box {

			position: absolute;
			width: 248px;
			top: 100%;
			left: 50%;
			margin-left: -124px;
			z-index: 9;
			pointer-events: none;

			&-inner {

				background-color: #fff;
				border: 1px solid #cbcbcb;
				border-radius: 15px;
				padding: 0 10px 8px;
				margin-top: 20px;
				position: relative;

				visibility: hidden;
				opacity: 0;
				transform: translateY(30px);
				transition: opacity var(--transitionDefault) 0s, visibility 0s var(--transitionDefault), transform var(--transitionDefault) 0s;
				box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);

				&::after,
				&::before {

					position: absolute;
					width: 0;
					height: 0;
					bottom: 100%;
					left: 50%;
					margin-left: -12px;
					content: '';
					border-left: 12px solid transparent;
					border-right: 12px solid transparent;
					border-bottom: 20px solid #cbcbcb;

				}

				&::after {

					margin-bottom: -2px;
					border-bottom-color: #fff;

				}

			}

		}

	}

	&__empty {

		font-size: 14px;
		text-align: center;
		padding: 24px 0;
		color: #979797;

		@media ($mdWidth) {

			font-size: 13px;
			padding: 12px 0;

		}

	}

	&__list {

		padding: 10px 0;

		&-item {

			& + & {

				border-top: 1px solid #e2e2e2;

			}

		}

		&-link {

			display: flex;
			align-items: center;
			font-size: 11px;
			line-height: 13px;
			color: #424242;
			padding: 10px 0;

			@media ($desktop) {

				&:hover {

					color: var(--blueText);

				}

			}

			img {

				margin-right: 10px;
				flex-shrink: 0;

			}

		}

	}

	&__hide-product {

		font-size: 9px;
		color: #979797;
		display: flex;
		align-items: center;

		&::after,
		&::before {

			height: 1px;
			content: '';
			background-color: #e2e2e2;
			flex-grow: 1;

		}

		span {

			flex-shrink: 0;
			padding: 0 10px;

		}

	}

	&__order-link {

		margin: 14px 0;
		height: 33px;
		line-height: 33px;
		width: 100%;
		font-weight: 400;
		border-radius: 5px;

		@media ($mdWidth) {

			font-size: 13px;

		}

	}

	&__order-link + &__menu &__menu-item:first-child {

		border-top: 0;

	}

	&__menu {

		&-item {

			border-top: 1px solid #e2e2e2;

		}

		&-link {

			display: block;
			font-size: 14px;
			line-height: 17px;
			color: var(--blue);
			padding: 12px 0;
			padding-left: 28px;

			@media ($mdWidth) {

				font-size: 13px;

			}

			svg {

				position: absolute;
				top: 0;
				left: 2px;
				bottom: 0;
				margin: auto;

				fill: var(--blue);

				&[fill="none"] {

					fill: none;
					stroke: var(--blue);

				}

			}

			&--red {

				color: var(--red);
				font-weight: 500;

				svg {

					fill: var(--red);

				}

			}

			@media ($desktop) {

				&:hover {

					text-decoration: underline;

				}

			}

		}

	}

}

.btn-menu-toggle {

	@media ($desktop) {

		display: none;

	}

	@media ($smWidth) {


	}

	@media ($mdWidth) {

		width: 26px;
		height: 26px;
		position: absolute;
		top: 8px;
		right: 16px;

		&::after,
		&::before {

			position: absolute;
			width: 20px;
			height: 2px;
			top: 10px;
			left: 3px;
			background-color: #000;
			transform: rotate(0deg);
			will-change: transform;
			content: '';
			transition: var(--transitionDefault);

		}

		&::after {

			top: 16px;

		}

		.menu-show & {

			&::after {

				transform: rotate(-225deg);
				width: 22px;
				top: 12px;
				background-color: #fff;

			}

			&::before {

				transform: rotate(-135deg);
				width: 22px;
				top: 12px;
				background-color: #fff;

			}

		}

	}

}

@media ($mdWidth) {

	.menu-show {

		background-color: var(--blue);

		.main,
		.footer,
		.header__btn-cart-mobile,
		.hidden-when-mobile-menu {

			display: none;

		}

		.header {

			border: 0;
			background-color: var(--blue);
			box-shadow: none;

			.visible-when-mobile-menu {

				display: block;

			}

		}

		.header-search {

			display: block;

		}

		.menu-mobile {

			display: block;

		}

	}

}