.header-search {

	@media ($desktop) {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: -1px;
		background-color: var(--blue);
		z-index: 6;
		display: none;

		.header-search-show & {

			display: flex;

		}

		.center {

			width: 770px;

		}

		&__inner {

			position: relative;
			display: flex;
			align-items: center;
			flex-grow: 1;

		}

		&__fieldset {

			position: relative;
			padding: 0 70px;

		}

		&__input {

			width: 100%;
			background-color: transparent;
			color: #fff;
			font-size: 24px;
			padding: 0;
			font-weight: 700;
			height: 32px;
			line-height: 32px;
			border-radius: 0;
			border: 0;

			&::placeholder {

				color: #fff;
				opacity: .8;
				font-weight: 400;

			}

		}

		&__ico {

			position: absolute;
			top: 0;
			left: 10px;
			bottom: 0;
			margin: auto;
			fill: #fff;

		}

		&__reset {

			position: absolute;
			top: 0;
			right: 10px;
			bottom: 0;
			margin: auto;

			svg {

				fill: #fff;

			}

		}

		&__result {

			position: absolute;
			top: 100%;
			left: 0;
			right: 0;

			&-inner {

				background-color: #fff;
				border-radius: 0 0 27px 27px;
				padding: 30px 10px;
				position: relative;

			}

			&-head {

				font-size: 14px;
				line-height: 17px;
				color: var(--grey);
				text-transform: uppercase;
				font-weight: 400;
				padding-left: 60px;
				margin-bottom: 10px;

			}

			&-item {

				font-size: 14px;
				line-height: 17px;
				position: relative;

				svg {

					position: absolute;
					width: 14px;
					height: 14px;
					top: 8px;
					left: 60px;
					pointer-events: none;

				}

				a {

					color: #000;
					display: block;
					padding: 6px 88px;

					&:hover {

						background-color: #f5f5f5;
						color: var(--blueText);

						& + svg {

							fill: var(--blueText);

						}

					}

				}

			}

		}

	}

	@media ($mdWidth) {

		margin: 20px 0;
		display: none;

		&__fieldset {

			position: relative;

		}

		&__ico {

			position: absolute;
			width: 16px;
			height: 16px;
			top: 0;
			left: 14px;
			bottom: 0;
			fill: #fff;
			opacity: .5;
			margin: auto;
			pointer-events: none;

		}

		&__reset {

			position: absolute;
			width: 20px;
			height: 20px;
			top: 0;
			right: 10px;
			bottom: 0;
			margin: auto;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, .5);
			display: none;

			.header-search-show & {

				display: block;

			}

			svg {

				width: 8px;
				height: 8px;
				fill: var(--blue);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;

			}

		}

		&__result {

			display: none;
			border-top: 1px solid rgba(255, 255, 255, .2);
			padding: 20px 0;
			margin: 20px 0;

			&-inner {

				padding-left: 40px;

			}

			&-head {

				font-size: 14px;
				line-height: 17px;
				font-weight: 400;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 0.8);
				margin-bottom: 12px;

			}

			&-item {

				border-bottom: 1px solid rgba(255, 255, 255, .2);
				padding: 6px 0;
				display: flex;

				svg {

					margin: 8px 8px 8px 0;
					fill: #fff;
					opacity: .8;
					width: 14px;
					height: 14px;
					order: -1;
					flex-shrink: 0;

				}

				a {

					font-size: 14px;
					line-height: 18px;
					color: #fff;
					padding: 6px 0;

				}

			}

			.header-search-show & {

				display: block;

			}

		}

		&__input {

			width: 100%;
			color: #fff;
			font-size: 16px;
			height: 38px;
			padding: 0 42px;
			background: rgba(255, 255, 255, 0.15);
			border-radius: 5px;

			&::placeholder {

				color: #fff;
				opacity: .6;
				font-size: 14px;

			}

		}

	}

}