.hit-offers {

	position: relative;
	padding: 70px 0 128px;

	@media ($mdWidth) {


	}

	&__title {

		margin-bottom: 22px;
		text-align: center;

	}

	&__all {

		display: flex;
		justify-content: center;
		margin: 16px;

	}

	&__swiper {

		margin-top: 46px;

		&-list {

			display: flex;
			justify-content: space-between;

		}

		&-item {

			width: 370px;
			display: flex;

		}

	}

}