.hit-offers {

	position: relative;
	padding: 72px 0;

	@media ($mdWidth) {


	}

	&__title {

		margin-bottom: 22px;
		text-align: center;

	}

	&__all {

		display: flex;
		justify-content: center;
		margin: 16px;

	}

	&__swiper {

		margin: 32px -15px 0;
		overflow: hidden;
		position: relative;
		padding: 15px 15px 100px;

		.swiper-container {

			overflow: visible !important;

		}

		&-list {

			display: flex;
			justify-content: space-between;

		}

		&-item {

			width: 370px;
			display: flex;

		}

	}

}