.hit-offers {

	position: relative;
	padding: 70px 0 128px;

	@media ($mdWidth) {


	}

	&__title {

		margin-bottom: 22px;
		text-align: center;

	}

	&__all {

		display: flex;
		justify-content: center;
		margin: 16px;

	}

	&__swiper {

		margin-top: 46px;

	}

	&-swiper {

		display: flex;
		justify-content: space-between;

		&__item {

			width: 370px;
			display: flex;
			background-color: #fff;
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);

		}

		&__link {

			padding: 12px;
			width: 100%;

		}

		&__img {

			display: block;
			height: 275px;
			display: flex;
			justify-content: center;
			align-items: center;

		}

		&__name {

			text-align: center;
			color: #000;
			margin-bottom: 8px;

		}

		&__price {

			text-align: center;
			color: var(--red);
			font-size: 17px;
			line-height: 21px;
			font-weight: 700;

		}

		&__old-price {

			text-align: center;
			color: #c4c4c4;
			font-size: 15px;
			text-decoration: line-through;

		}

		&__link:hover &__hover {

			opacity: 1;

		}

		&__hover {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: #fff;
			opacity: 0;
			will-change: opacity;
			transition: var(--transitionDefault);
			padding: 22px 24px;
			background-image: linear-gradient(160deg, rgba(67, 80, 246, 0.95) 45%, rgba(178, 60, 201, 0.95) 118%);

			&-head {

				margin-bottom: 14px;

			}

			&-list {

				font-size: 14px;
				line-height: 17px;

				li {

					padding-left: 10px;

					&::before {

						position: absolute;
						top: 0;
						left: 0;
						content: '-';

					}

				}

			}

			&-price {

				position: absolute;
				right: 24px;
				bottom: 18px;

			}

		}

	}

}