.menu-company {

	white-space: nowrap;

	&__list {

		display: flex;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__item {

	}

	&__link {

		font-size: 14px;
		color: var(--grey);
		display: block;

		@media ($desktop) {

			&:hover {

				color: var(--blueText);

			}

		}

	}

	&__sub {

		position: absolute;
		width: 248px;
		top: 100%;
		left: 50%;
		margin-left: -124px;
		z-index: 9;
		pointer-events: none;

		&-list {

			background-color: #fff;
			border: 1px solid #cbcbcb;
			border-radius: 15px;
			padding: 8px 18px;
			margin-top: 25px;
			position: relative;

			visibility: hidden;
			opacity: 0;
			transform: translateY(30px);
			transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
			box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);

			&::after,
			&::before {

				position: absolute;
				width: 0;
				height: 0;
				bottom: 100%;
				left: 50%;
				margin-left: -12px;
				content: '';
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-bottom: 20px solid #cbcbcb;

			}

			&::after {

				margin-bottom: -2px;
				border-bottom-color: #fff;

			}

		}

		&-item {

			& + & {

				border-top: 1px solid #e2e2e2;

			}

		}

		&-link {

			display: block;
			font-size: 14px;
			line-height: 17px;
			color: var(--text);
			padding: 12px 0;

			@media ($desktop) {

				&:hover {

					color: var(--blueText);

				}

			}

		}

	}

	&__item:hover &__sub {

		pointer-events: auto;

		&-list {

			opacity: 1;
			transform: translateY(0);
			visibility: visible;
			transition: opacity 0.3s 0s, transform 0.3s 0s;

		}

	}

}

.menu-main {

	white-space: nowrap;

	&__list {

		display: flex;
		justify-content: space-between;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__item {

	}

	&__link {

		font-size: 14px;
		line-height: 32px;
		color: #2f2f2f;
		font-weight: 700;
		display: block;

		&::after {

			position: absolute;
			height: 2px;
			left: 0;
			right: 0;
			bottom: -10px;
			content: '';
			opacity: 0;
			pointer-events: none;
			background-color: var(--blueText);
			transition: var(--transitionDefault);
			transform: scaleX(0);

		}

		@media ($desktop) {

			&:hover {

				color: var(--blueText);

				&::after {

					opacity: 1;
					transform: scaleX(1);

				}

			}

		}

	}

}

.menu-catalog {

	white-space: nowrap;
	height: 0;
	position: relative;
	z-index: 8;
	pointer-events: none;

	@media ($mdWidth) {

		display: none;

	}

	&.is-show {

		pointer-events: auto;

	}

	&__inner {

		background-color: #fff;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
		transform: scaleY(0);
		opacity: 0;
		transform-origin: top;
		transition: var(--transitionDefault);

	}

	&.is-show &__inner {

		opacity: 1;
		transform: scaleY(1);

	}

	&__box {

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 15px 0 45px;

	}

	&__col {

		width: calc(100% / 3);
		margin: 25px 0;

	}

	&__head {

		margin-bottom: 6px;

	}

	&__link {

		font-size: 14px;
		line-height: 21px;
		color: #424242;
		display: block;

		@media ($desktop) {

			&:hover {

				color: var(--blueText);

			}

		}

	}

	&__links {

		&-item {

			margin-bottom: 16px;

		}

	}

}

.menu-mobile {

	color: #fff;
	display: none;

	a {

		color: inherit;

	}

	&__head {

		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		padding: 12px 0;
		text-transform: uppercase;
		margin-bottom: 6px;
		position: relative;
		cursor: pointer;

		svg {

			fill: #fff;
			margin-right: 8px;

		}

		&::after {

			position: absolute;
			width: 13px;
			height: 8px;
			top: 0;
			right: 0;
			bottom: 0;
			content: '';
			margin: auto;
			opacity: .8;
			background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.82 0l4.54 4.54L10.9 0l1.82.9-6.36 6.37L0 .9 1.82 0z' fill='%23fff'/%3E%3C/svg%3E");

		}

		&.is-open::after {

			opacity: 1;
			transform: scaleY(-1);

		}

	}

	&__head.is-open + &__catalog {

		display: block;

	}

	&__catalog {

		display: none;
		padding-bottom: 20px;

		&-head {

			font-weight: 700;
			font-size: 14px;
			margin: 6px 21px;

		}


		&-all {

			display: block;
			font-weight: 700;
			font-size: 14px;
			line-height: 18px;
			text-transform: uppercase;

		}

		ul {

			&::after {

				height: 1px;
				max-width: 270px;
				content: '';
				display: block;
				margin: 20px 21px;
				background-color: #fff;
				opacity: .1;

			}

		}

		li {

			font-size: 14px;
			line-height: 17px;

		}

		a {

			padding-left: 21px;

		}

	}

	&__main {

		border-top: 1px solid rgba(255, 255, 255, .2);
		border-bottom: 1px solid rgba(255, 255, 255, .2);

		a {

			display: block;
			font-size: 14px;
			font-weight: 700;
			line-height: 18px;
			padding: 18px 0;

		}

	}

	&__company {

		& > li + li {

			border-top: 1px solid rgba(255, 255, 255, .2);

		}

		a {

			font-size: 14px;
			line-height: 18px;
			opacity: .8;
			display: block;
			position: relative;
			padding: 18px 0;

			&.is-arrow::after {

				position: absolute;
				width: 13px;
				height: 8px;
				top: 0;
				right: 0;
				bottom: 0;
				content: '';
				margin: auto;
				background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.82 0l4.54 4.54L10.9 0l1.82.9-6.36 6.37L0 .9 1.82 0z' fill='%23fff'/%3E%3C/svg%3E");

			}

			&.is-open {

				opacity: 1;

				&::after {

					transform: scaleY(-1);

				}

				& + ul {

					display: block;

				}

			}

		}

		ul {

			display: none;
			padding-bottom: 18px;

			a {

				opacity: .8;
				padding: 4px 0;

			}

		}

	}

	&__phone {

		font-family: Roboto;
		font-size: 14px;
		line-height: 28px;
		color: rgba(255, 255, 255, 0.8);
		margin: 60px 0 30px;

		a {

			font-size: 16px;
			color: #fff;

		}

	}

	&__social {

		margin: 20px 0;

	}

}