.page-activation {

	&__title {

		margin: 56px 0 32px;

		@media ($smWidth) {

			margin: 18px 0;

		}

	}

	&__text {

		font-size: 17px;
		line-height: 21px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 17px;

		}

		a {

			color: var(--blue);

		}

	}

	&__form {

		margin: 56px 0  50px;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 26px;

		@media ($smWidth) {

			padding: 0;
			margin: 0;
			box-shadow: none;
			background-color: transparent;
			flex-direction: column-reverse;

		}

		&-left {

			width: 366px;
			margin-left: 26px;

			@media ($smWidth) {

				width: 100%;
				margin: 0;

				label {

					font-size: 13px;
					line-height: 16px;
					margin-bottom: 14px;

				}

			}

			label {

				display: block;
				font-weight: bold;
				font-size: 17px;
				line-height: 21px;
				margin-bottom: 14px;

			}

		}

		&-inputbox {

			margin-bottom: 28px;

		}

		&-submit {

			width: 100%;

		}

		&-captcha {

			display: flex;
			justify-content: space-between;

			&-btn {

				flex-grow: 1;
				background-color: #fff;
				border: 1px solid var(--border);

				@media ($smWidth) {

					width: 175px;

				}

				&::after {

					position: absolute;
					width: 12px;
					height: 12px;
					top: 4px;
					right: 10px;
					content: '';
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1l1.18 1.38A5 5 0 0111.02 5H10a4 4 0 00-6.67-1.86L4.5 4.5H1L1.5 1zM1.92 8.89A5 5 0 011.1 7h1.03a4 4 0 006.66 1.86L7.63 7.5h3.5l-.5 3.5-1.18-1.38a5 5 0 01-7.53-.73z'/%3E%3C/svg%3E");

				}

			}

			.input {

				width: 177px;
				margin-left: 14px;
				flex-shrink: 0;

				@media ($smWidth) {

					width: calc(100% - 175px - 14px);

				}

			}

		}

		&-right {

			@media ($smWidth) {

				width: 100%;
				margin: 0 0 30px;

				img {

					max-width: 100%;
					height: auto;

				}

			}

		}

	}

	.help-after {

		padding: 42px 0;

	}

	&__bg {

		background-color: #F8F9FD;
		padding: 52px 0 70px;

		@media ($smWidth) {

			padding: 36px 0 50px;

		}

	}

	&__bg &__form {

		margin: 0;

	}

	&__steps {

		display: flex;
		justify-content: space-between;
		margin: 95px 0;
		font-size: 17px;
		line-height: 21px;
		text-align: center;
		position: relative;
		counter-reset: headings 0;

		@media ($smWidth) {

			margin: 50px 0;
			font-size: 14px;
			line-height: 17px;
			display: block;
			text-align: left;

		}

		&::before {

			position: absolute;
			height: 8px;
			top: 80px;
			left: 160px;
			right: 160px;
			content: '';
			background-color: rgba(67, 80, 246, 0.2);

			@media ($smWidth) {

				height: 100%;
				left: 18px;
				right: auto;
				width: 8px;
				top: 20px;

			}

		}

		&-item {

			width: 320px;

			@media ($smWidth) {

				width: auto;
				padding-left: 70px;
				margin-bottom: 50px;

				&::before {

					margin: 0;

				}

				&::after {

					top: 0;
					right: auto;

				}

				&:last-child .page-activation__steps-head::before {

					position: absolute;
					width: 42px;
					top: 14px;
					left: 0;
					bottom: -25px;
					content: '';
					background-color: #fff;

				}

			}

			&::before {

				font-weight: bold;
				font-size: 36px;
				line-height: 44px;
				color: #D9DCFD;
				display: block;
				counter-increment: headings 1;
				content: '0' counter(headings, decimal);
				margin-bottom: 85px;

			}

			&::after {

				position: absolute;
				width: 20px;
				height: 20px;
				top: 63px;
				left: 0;
				right: 0;
				margin: auto;
				content: '';
				background-color: var(--blue);
				border-radius: 50%;
				border: 12px solid #fff;
				box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);

			}

		}

		&-head {

			display: block;
			font-weight: 300;
			font-size: 24px;
			line-height: 1.33;
			margin: 16px;
			letter-spacing: 0.05em;

			@media ($smWidth) {

				font-size: 18px;
				margin: 10px 0 25px;
				max-width: 180px;

			}

		}

	}

	&__accordion {

		margin: 50px 0 150px;

		@media ($smWidth) {

			margin: 30px 0 60px;

		}

	}

}