.pagination {

	display: flex;
	flex-wrap: wrap;
	margin: 40px 0;
	height: 48px;
	overflow: hidden;

	&__item {

		a {

			width: 48px;
			height: 48px;
			display: block;
			border-radius: 4px;
			color: var(--blueText);
			line-height: 48px;
			font-size: 18px;
			text-align: center;
			font-family: 'Segoe UI', 'Roboto';

		}

		&--current a {

			color: #fff;
			background-color: var(--blueText);

		}

	}

}