.prices {

	padding: 60px 0;
	margin-top: 12px;

	@media ($mdWidth) {

		margin-top: 0;

	}

	@media ($smWidth) {

		padding-bottom: 44px;

	}

	&__title {

		text-align: center;
		margin-bottom: 72px;

		@media ($mdWidth) {

			margin-bottom: 36px;

		}

		@media ($smWidth) {

			margin-bottom: 24px;

		}

	}

	&-table {

		width: 100%;

		&__red,
		&__green {

			display: block;
			color: var(--red);
			font-size: 13px;
			line-height: 20px;

		}

		&__green {

			color: var(--green);

		}

		&__thead {

			th {

				text-align: left;
				vertical-align: top;
				color: #a3a3a3;
				padding-left: 20px;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				padding-bottom: 21px;

				@media ($smWidth) {

					font-size: 14px;
					line-height: 16px;
					padding-bottom: 9px;

				}

				@media ($xsWidth) {

					padding-left: 10px;

				}

				b {

					font-weight: 400;
					font-size: 18px;
					line-height: 24px;
					display: block;
					color: var(--blue);
					margin-bottom: 2px;

					@media ($smWidth) {

						margin-bottom: 6px;

					}

					@media ($xsWidth) {

						font-size: 16px;

					}

				}

				&:nth-child(1) {

					width: 520px;

					@media ($mdWidth) {

						width: auto;

					}

					@media ($smWidth) {

						padding-left: 0;

					}

				}

				&:nth-child(2) {

					width: 212px;

					@media ($mdWidth) {

						width: 158px;

					}

					@media ($smWidth) {

						width: auto;

					}

				}

				&:nth-child(3) {

					width: 350px;

					@media ($mdWidth) {

						width: 158px;

					}

					@media ($smWidth) {

						width: auto;

					}

				}

			}

		}

		&__coldstack {

			td {

				background-color: var(--blue);
				color: #fff;
				font-weight: 700;
				padding: 0 0 0 20px;
				height: 60px;
				vertical-align: middle;
				text-align: left;

				&:first-child {

					border-top-left-radius: 6px;

				}

				&:last-child {

					border-top-right-radius: 6px;

				}

				&:first-child {

					border-bottom-left-radius: 6px;

				}

				&:last-child {

					border-bottom-right-radius: 6px;

				}

				&:nth-child(2) {

					@media ($smWidth) {

						padding: 0;

					}

				}

			}

		}

		&__tbody {

			tr:nth-child(2n) td {

				background-color: color(#f3f2fd a(50%));

				.prices-table__logo-wrap {

					background-color: #fff;

				}

				&:first-child {

					border-top-left-radius: 6px;

				}

				&:last-child {

					border-top-right-radius: 6px;

				}

				&:first-child {

					border-bottom-left-radius: 6px;

				}

				&:last-child {

					border-bottom-right-radius: 6px;

				}

			}

			td {

				padding: 0 0 0 20px;
				color: #181818;
				height: 60px;
				vertical-align: middle;
				text-align: left;

				&:nth-child(2) {

					@media ($smWidth) {

						padding: 0;

					}

				}

			}

		}

		&__tfoot {

			p {

				border-top: 1px solid #e9e9ea;
				font-size: 13px;
				line-height: 20px;
				color: var(--text);
				padding: 18px 60px;
				margin-top: 42px;
				position: relative;

				@media ($smWidth) {

					padding: 20px 0 0 30px;
					margin-top: 20px;

					svg {

						left: 0;

					}

				}

				svg {

					position: absolute;
					top: 18px;
					left: 28px;

				}

			}

		}

		&__logo {

			padding: 0 4px 0 20px !important;
			width: 36px;

			@media ($smWidth) {

				width: auto;
				padding: 0 0 0 10px !important;

			}

			&-wrap {

				height: 36px;
				width: 36px;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #f3f2fd;
				border-radius: 50%;

				@media ($smWidth) {

					width: auto;
					justify-content: flex-start;
					border-radius: 0;
					background-color: transparent !important;

				}

			}

		}

	}

}