.product {

	&-main {

		padding: 44px 0 60px;

		&__flex {

			display: flex;
			justify-content: space-between;

		}

		&__img {

			display: flex;
			flex-shrink: 0;
			margin-right: 50px;

			&-big {

				width: 570px;
				height: 550px;
				background-color: #EBEBEB;
				border-radius: 5px;
				display: flex;
				align-items: center;
				justify-content: center;

			}

			&-small {

				width: 73px;
				margin-right: 28px;

			}

			&-preview {

				display: block;
				margin-bottom: 15px;
				position: relative;

				&.is-current::after {

					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
					border-radius: 5px;
					border: 2px solid var(--blueText);

				}

				img {

					display: block;
					border-radius: 5px;
					background-color: #f1f1f1;

				}

			}

		}

		&__body {

			flex-grow: 1;
			display: flex;
			flex-direction: column;

		}

		&__title {

			font-size: 30px;
			line-height: 36px;
			margin-bottom: 10px;

		}

		hr {

			background-color: #c4c4c4;
			margin: 18px 0;

		}

		&__label {

			display: flex;
			margin-bottom: 14px;

			&-inner {

				font-size: 12px;
				line-height: 22px;
				white-space: nowrap;
				padding: 0 14px;
				border-radius: 11px;

			}

			&--yellow &-inner {

				background-color: #FFEA90;

			}

			&--green &-inner {

				background-color: #CCFFD5;

			}

		}

		&__count-set {

			display: flex;
			align-items: center;
			color: var(--blue);
			font-size: 14px;
			line-height: 17px;
			white-space: nowrap;
			margin: 14px 0;

			svg {

				fill: var(--blue);
				margin-right: 8px;

			}

			b {

				margin-left: 5px;

			}

		}

		&__delivery {

			margin: 30px 0;

			&-row {

				display: flex;
				align-items: baseline;
				margin: 24px 0;
				white-space: nowrap;

			}

			.radio-input__label {

				display: flex;
				align-items: baseline;
				padding-left: 0;
				color: #C4C4C4;

				&::before {

					border-color: #f2f2f2;
					background-color: #f2f2f2;
					box-shadow: 0 0 0 1px #f2f2f2;
					position: relative;
					margin-right: 16px;
					top: 1px;

				}

			}

			.radio-input__input:checked + .radio-input__label &-price-old {

				color: var(--grey);

			}

			&-label {

				flex-grow: 1;
				width: 128px;

			}

			&-price {

				font-weight: bold;
				font-size: 17px;
				flex-shrink: 0;
				display: flex;
				align-items: baseline;

				&-sum-sale {

					color: var(--red);

				}

				&-old {

					font-weight: normal;
					font-size: 15px;
					color: var(--grey);
					margin-right: 20px;
					display: block;
					text-decoration: line-through;

				}

				&-sale {

					font-weight: bold;
					font-size: 17px;
					line-height: 27px;
					color: #fff;
					margin-left: 22px;
					position: relative;
					padding: 0 13px 0 10px;
					background-color: var(--red);

					&::after {

						position: absolute;
						top: 0;
						left: 100%;
						content: '';
						border-color: transparent;
						border-width: 27px 12px 0 0;
						border-style: solid;
						border-top-color: var(--red);

					}

				}

			}

		}

		&__list {

			margin: 30px 0;

			li {

				padding-left: 24px;
				font-size: 14px;
				line-height: 17px;
				margin: 12px 0;

				&::before {

					position: absolute;
					width: 7px;
					height: 7px;
					top: 5px;
					border-radius: 50%;
					left: 0;
					content: '';
					background-color: var(--blueText);

				}

			}

		}

		&__foot {

			margin-top: auto;
			display: flex;

		}

		&__buy-submit {

			font-weight: 400;

		}

		&__favourites {

			width: 45px;
			height: 40px;
			border: 1px solid #E2E2E2;
			border-radius: 1px;
			margin-left: 16px;

			svg {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				fill: grey;

			}

			&.in-list {

				background-color: var(--blueText);

				svg {

					fill: #fff;

				}

			}

		}

	}

	&-tab {

		background-color: #F0F2F9;
		border-top: 3px solid #AABAE5;
		position: relative;
		padding-bottom: 30px;

		&__info {

			display: flex;
			font-size: 14px;
			line-height: 17px;
			padding: 20px 0;

			&-item {

				width: 50%;

			}

			h3 {

				font-weight: bold;
				font-size: 14px;
				line-height: 17px;

			}

			ul {

				max-width: 480px;
				margin-bottom: 20px;

				li {

					padding-left: 24px;
					margin-bottom: 8px;

					&::before {

						position: absolute;
						width: 7px;
						height: 7px;
						top: 4px;
						left: 0;
						content: '';
						border-radius: 50%;
						background-color: var(--red);

					}

				}

			}

			ol {

				max-width: 480px;
				counter-reset: headings 0;
				margin-bottom: 20px;

				li {

					padding-left: 24px;
					counter-increment: headings 1;

					&::before {

						position: absolute;
						top: 0;
						left: 0;
						content: counter(headings, decimal) '.';

					}

				}

			}

		}

	}

	&-set-details {

		&__head {

			h3 {

				font-weight: bold;
				font-size: 14px;
				line-height: 17px;
				margin: 12px 0;

			}

			p {

				font-size: 14px;
				line-height: 17px;
				margin: 12px 0;

			}

		}

		table {

			width: 100%;

		}

		thead {

			th {

				padding: 14px 28px 14px 0;
				text-align: left;
				vertical-align: bottom;
				font-weight: bold;
				font-size: 12px;
				line-height: 15px;
				text-transform: uppercase;
				color: #849BD9;

				&:last-child {

					padding-right: 0;
					width: 0;

				}

			}

		}

		&__short {

			font-size: 14px;
			line-height: 17px;
			box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);

			td {

				background-color: #fff;
				height: 80px;
				vertical-align: middle;
				padding: 14px 28px 14px 0;

				&:first-child {

					padding-left: 20px;
					padding-right: 40px;
					width: 360px;

				}

			}

		}

		&__full {

			td {

				padding: 0;

			}

			&-inner {

				overflow: hidden;
				position: relative;
				padding: 0 20px;
				max-height: 0;
				opacity: 0;
				background-color: #fff;
				margin-bottom: 14px;
				transition: var(--transitionDefault);

				.is-down & {

					max-height: 10000px;
					overflow: visible;
					opacity: 1;

				}

			}

		}

		&__flex {

			border-top: 1px solid #e7e7e7;
			padding: 30px 0;
			display: flex;

		}

		&__img {

			width: 300px;
			margin-right: 40px;
			flex-shrink: 0;
			outline:1px solid red;

		}

		&__content {

			font-size: 14px;
			line-height: 17px;

			h3 {

				font-weight: bold;
				font-size: 14px;
				line-height: 17px;

				& ~ h3 {

					margin-top: 20px;

				}

			}

			a {

				color: var(--blueText);
				font-weight: 700;

			}

		}

		&__btn-open {

			height: 32px;
			line-height: 32px;
			padding: 0;
			width: 120px;
			overflow: hidden;

			span {

				display: block;
				transition: var(--transitionDefault);
				transform: translate3d(0, 0, 0);

			}

			&::after {

				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				content: attr(data-alt);
				color: #fff;
				background-color: var(--blue);
				transition: var(--transitionDefault);
				transform: translate3d(0, -100%, 0);
				pointer-events: none;

			}

			.is-down &&::after {

				transform: translate3d(0, 0, 0);

			}

			.is-down & span {

				transform: translate3d(0, 100%, 0);

			}

		}

	}

}
