.shipping {

	&__title {

		margin: 56px 0 32px;

		@media ($smWidth) {

			margin: 18px 0;

		}

	}

	&__intro {

		font-weight: 300;
		font-size: 22px;
		line-height: 1.33;
		letter-spacing: 0.05em;
		margin-bottom: 128px;
		max-width: 720px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 17px;
			font-weight: 400;
			margin-bottom: 40px;

		}

	}

	&__calculator {

		background-color: #F0F2F9;
		border-top: 3px solid #AABAE5;
		position: relative;

	}

}