.social {

	display: flex;
	margin: -12px;

	@media ($xsWidth) {

		margin: -10px;

	}

	&__item {

		margin: 12px;

	}

	&__link {

		opacity: .8;
		display: block;

		@media ($desktop) {

			&:hover {

				opacity: 1;

			}

		}

		svg {

			fill: #fff;

		}

	}

}