.tabs {

	background-color: #F8F9FD;

	&__nav {

		display: flex;
		overflow: hidden;
		background-color: #F0F2F9;

	}

	&__btn {

		padding: 18px;
		font-size: 17px;
		line-height: 21px;
		color: #849BD9;
		display: flex;
		align-items: center;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 20px;
			padding: 16px;

		}

		&.is-active {

			color: var(--red);
			background-color: #F8F9FD;

		}

		&-logo {

			margin-right: 10px;

			&--svg svg {

				fill: #849BD9;

			}

		}

		&.is-active &-logo--svg svg {

			fill: var(--red);

		}

		&-name {

			margin-right: 20px;

		}

		&-arrow {

			margin-left: auto;

			svg {

				fill: #849BD9;

			}

		}

		&.is-active &-arrow {

			transform: rotate(90deg);

			svg {

				fill: var(--red);

			}

		}

		&:not(.is-active) &-logo--show-active,
		&.is-active &-logo--hide-active {

			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 1px;
			overflow: hidden;

		}

	}

	&__item.is-show &__btn {

		color: var(--red);

	}

	&__item {

		display: none;
		padding: 20px;

		&.is-active {

			display: block;

		}

	}

	@media ($smWidth) {

		&--mobile-come-accordion &__item {

			display: block;
			padding-top: 0;
			overflow: hidden;
			max-height: 60px;
			border-top: 3px solid #849BD9;
			background-color: #F0F2F9;

			&.is-active {

				max-height: 3000px;
				background-color: #F8F9FD;
				border-top-color: var(--red);

				&:last-child {

					border-bottom-color: transparent;

				}

			}

			&:last-child {

				border-bottom: 3px solid #849BD9;

			}

		}

		&--mobile-come-accordion &__btn {

			margin: 0 -20px;
			width: calc(100% + 40px);
			padding: 0 16px;
			height: 60px;
			background-color: transparent;

			&-arrow {

				margin-left: 0;

			}

		}

	}

}