.team {

	background-color: color(var(--bg) a(50%));
	padding: 96px 0;
	margin: 60px 0;
	position: relative;

	@media ($mdWidth) {

		padding: 80px 0;

	}

	@media ($smWidth) {

		margin: 44px 0 80px;

	}

	&__rotate-left {

		position: absolute;
		top: -134px;
		left: 36px;

		@media ($mdWidth) {

			display: none;

		}

	}

	&__rotate-right {

		position: absolute;
		top: 0;
		right: 36px;

		@media ($mdWidth) {

			top: -118px;
			right: 20px;

		}

	}

	&__title {

		text-align: center;
		margin-bottom: 132px;

		@media ($mdWidth) {

			margin-bottom: 96px;

		}

		@media ($smWidth) {

			margin-bottom: 0;

		}

	}

	&__list  {

		display: flex;
		justify-content: center;
		margin: -24px;

		@media ($mdWidth) {

			flex-wrap: wrap;

		}

		@media ($smWidth) {

			margin: 0;

		}

	}

	&__item {

		width: 328px;
		margin: 24px;
		padding: 24px;
		background-color: #fff;
		border-radius: 12px;

		@media ($mdWidth) {

			margin: 72px 24px;

		}

		@media ($smWidth) {

			margin: 100px 0 0;
			padding: 30px 20px;
			width: auto;

		}

	}

	&__img {

		margin: -90px 0 24px;
		display: flex;
		justify-content: center;

		@media ($smWidth) {

			margin-top: -96px;

		}

		img {

			display: block;
			border-radius: 50%;

		}

	}

	&__linkedin {

		position: relative;

		&::after {

			position: absolute;
			width: 44px;
			height: 44px;
			right: 0;
			bottom: 0;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='22' cy='22' r='20' fill='%23342BDB' stroke='%23fff' stroke-width='4'/%3E%3Cpath d='M18.5 17.1c0 .77-.49 1.4-1.4 1.4-.84 0-1.4-.63-1.4-1.33 0-.77.56-1.47 1.4-1.47.84 0 1.4.63 1.4 1.4zm-2.8 11.2h2.8v-9.1h-2.8v9.1zm9.52-8.96c-1.47 0-2.31.84-2.66 1.4h-.07l-.14-1.19h-2.52c0 .77.07 1.68.07 2.73v6.02h2.8v-4.97c0-.28 0-.49.07-.7.21-.49.56-1.12 1.33-1.12.98 0 1.4.84 1.4 1.96v4.83h2.8v-5.18c0-2.59-1.33-3.78-3.08-3.78z' fill='%23fff'/%3E%3C/svg%3E");

		}

	}

	&__name {

		text-align: center;
		font-size: 24px;
		line-height: 1.5;
		font-weight: 700;
		color: #000;

	}

	&__status {

		text-align: center;
		font-size: 18px;
		line-height: 2;
		color: var(--blue);

		&::after {

			display: block;
			margin: 12px auto 16px;
			width: 48px;
			height: 2px;
			background-color: var(--green);
			content: '';

		}

	}

	&__text {

		margin: 12px 0;
		font-size: 14px;
		line-height: 24px;
		color: #000;

		a {

			color: var(--blue);
			border-bottom: 1px solid;

			@media ($desktop) {

				&:hover {

					border-bottom-color: transparent;

				}

			}

		}

	}


}