:root {

	--color: #000;
	--text: #6a6a6a;
	--error: #ff0;
	--bg: #fff;
	--grey: #808080;
	--blue: #344aba;
	--blueHover: #3491e3;
	--blueText: #4350f6;
	--border: #cacaca;
	--yellow: #ffce00;
	--yellowHover: #ffb800;
	--green: green;
	--red: #ff4d6a;
	--transitionDefault: .3s;

}

$desktop: (min-width: 1200px);
$tablet: (min-width: 768px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);