	<div class="office-form-row">

		<div class="center">

			<div class="office-form-row__box">

				<div class="office-form-row__content">

					<h2 class="office-form-row__title h1">
						Давайте пообщаемся?
					</h2>

					<p class="office-form-row__intro">
						Оставьте свой номер телефона и у Вас появится личный менеджер, который проконсультирует вас и поможет выбрать подарки
					</p>

				</div>

				<div class="office-form-row__form">

{% include "_include/form.html" %}

				</div>

				<div class="office-form-row__contacts">

					<p class="office-form-row__tel">

						<a href="tel:88121234567">
							8 (812) 123 45 67
						</a>

					</p>

					<p class="office-form-row__email">

						<a href="mailto:info@info.ru">
							info@info.ru
						</a>

					</p>

					<div class="office-form-row__social">

						<h3 class="office-form-row__social-title">
							Также можете написать нам в соц.сетях:
						</h3>

{% include "template/social.html" %}

					</div>

				</div>

			</div>

		</div>

	</div>