{% set title = "Публичная оферта" %}

{% set description = "Мы всегда идём вам на встречу нашим клиентам и ни когда не идем на конфликт с хорошими людьми!" %}

{% set breadcrumbs = [title] %}

{% extends "template/base.html" %}

{% block content %}

<article class="shipping">

	<div class="center">

		<h1 class="shipping__title h1">
			{{ title }}
		</h1>

		<div class="shipping__oferta">

			<div class="accordion">

{% set accordion = [

	'Основной раздел',
	'Термины и определения',
	'Предмет настоящего договора',
	'Доступ к информации о покупателе',
	'Условия оформления и порядок оплаты заказа',
	'Условия приобретения подарочного сертификата',
	'Согласование получения товаров и активация сертификата',
	'Возврат денежных средств',
	'Ответственность сторон',
	'Заключительные положения',
	'Реквизиты'

] %}

{% for head in accordion %}

				<div class="accordion__item">

					<h2 class="accordion__head accordion__btn">
						{{ head }}
					</h2>

					<div class="accordion__body">

						<div class="accordion__column">

							<p>
								3.1. Информация, предоставленная покупателем, является конфиденциальной и не подлежит разглашению третьим лицам, за исключением случаев, прямо предусмотренных действующим законодательством Российской Федерации.
							</p>

							<p>
								3.2. При регистрации на сайте компании покупатель предоставляет следующую информацию о себе: <br>
								— номер телефона; <br>
								— адрес электронной почты; <br>
								— имя покупателя подарочного сертификата;
							</p>

							<p>
								3.3. Компания не несет ответственности за содержание и достоверность информации, предоставленной покупателем сертификата при оформлении заказа.
							</p>

							<p>
								3.4. Клиент, осуществляя Заказ на сайте Компании, принимает на себя обязательства по оплате Товаров (Услуг), а Компания в свою очередь принимает обязательства по передаче Подарочного Сертификата на оплаченные Клиентом Товары (Услуги).
							</p>

							<p>
								3.5. Компания обязуется не разглашать полученную от покупателя информацию. Не считается нарушением предоставление компанией информации партнерам компании, агентам и третьим лицам, действующим на основании договора с компанией «Дару», для исполнения обязательств перед покупателем.
							</p>

							<p>
								3.6. Компания вправе использовать технологию «cookies» при предоставлении покупателю доступа к сайту Компании. «Cookies» не содержат конфиденциальную информацию и не передаются третьим лицам.
							</p>

							<p>
								3.7. При доступе покупателя к сайту Компании «Дару», Компания получает информацию об ip-адресе покупателя. Компания обязуется не использовать данную информацию для установления личности покупателя.
							</p>

						</div>

					</div>

				</div>

{% endfor %}

			</div>

		</div>

	</div>

</article>

{% endblock %}