{% set title = "Карточка товара " %}

{% set description = "Получатель сам выберет любое впечатление, Купить набор выгоднее чем 1 впечатление, Стоимость подарка нигде не указана, Получателю ничего доплачивать не нужно" %}

{% set breadcrumbs = ['Каталог', 'Для него', 'Экстрим Стандарт (подарочный набор)'] %}

{% extends "template/base.html" %}

{% block content %}

	<article class="product">

		<div class="product-main">


		</div>

		<div class="product-desc">


		</div>

	</article>

{% include "product/hit-offers.html" %}

{% endblock %}