				<div class="product-set-details__full-inner">

					<div class="product-set-details__flex">

						<dl class="product-set-details__desc-list">

							<div class="product-set-details__desc-list-tr">

								<dt class="product-set-details__desc-list-th">
									Количество персон:
								</dt>

								<dd class="product-set-details__desc-list-td">
									1
								</dd>

							</div>

							<div class="product-set-details__desc-list-tr">

								<dt class="product-set-details__desc-list-th">
									Длительность:
								</dt>

								<dd class="product-set-details__desc-list-td">
									30 мин
								</dd>

							</div>

							<div class="product-set-details__desc-list-tr">

								<dt class="product-set-details__desc-list-th">
									Возрастное ограничение:
								</dt>

								<dd class="product-set-details__desc-list-td">
									10+
								</dd>

							</div>

							<div class="product-set-details__desc-list-tr">

								<dt class="product-set-details__desc-list-th">
									Сезон:
								</dt>

								<dd class="product-set-details__desc-list-td">
									круглый год
								</dd>

							</div>

						</dl>

						<div class="product-set-details__img">

							<picture>

								<source srcset="/img/product/set-details@mobile.webp" type="image/webp" media="(max-width: 1199px)">
								<source srcset="/img/product/set-details@mobile.jpg" media="(max-width: 1199px)">

								<source srcset="/img/product/set-details.webp 1x, /img/product/set-details@2x.webp 2x" type="image/webp">
								<source srcset="/img/product/set-details.jpg 1x, /img/product/set-details@2x.jpg 2x">

								<img src="/img/product/set-details.jpg" alt="Экстрим Стандарт" width="300" height="304" loading="lazy">

							</picture>

						</div>

						<div class="product-set-details__content">

							<h3>
								В подарочный сертификат входит:
							</h3>

							<p>
								Привыкание к мотоциклу и выполнение знакомых упражнений/элементов, выявление ошибок и слабых сторон в маневрировании. Модель мотоцикла: Yamaha YBR 125
							</p>

							<h3>
								Рекомендации:
							</h3>

							<ul>
								<li>
									Проходит только в летний сезон.
								</li>
								<li>
									Необходимо водительское удостоверение категории "А"
								</li>
								<li>
									После <a href="/activation/instruction/">активации</a> подарка-впечатления мы запишем к одному из парнеров
								</li>
							</ul>

							<h3>
								Место проведения:
							</h3>

{% if loop.first %}

							<p class="product-set-details__content-geo">
								Москва, м.Крылатское, ул.Крылатская, д.5, Гребной канал
							</p>

							<hr>

{% else %}

							<div class="tab-city">

{% for city in ['Москва','Сант-Петербург','Новосибирск','Якутск'] %}

								<div class="tab-city__item">

									<h4 class="tab-city__btn">
										{{ city }}
									</h4>

									<div class="tab-city__body">

										<h5>
											Салон тайского массажа "Тайландика"
										</h5>

										<p class="product-set-details__content-geo">
											м.Крылатское, ул.Крылатская, д.5, Гребной канал
										</p>

										<p class="product-set-details__content-geo">
											м.Крылатское, ул.Крылатская, д.5, Гребной канал
										</p>

										<h5>
											Тайский спа-салон "Sensip"
										</h5>

										<p class="product-set-details__content-geo">
											Московская Область, г. Одинцово, ул. Говорова, д.50
										</p>

										<p class="product-set-details__content-geo">
											м.Пушкинская, Большой Палашевский переулок, д.14 "А"
										</p>

									</div>

								</div>

{% endfor %}

							</div>

{% endif %}

							<p class="product-set-details__content-one-product">
								Вы можете купить данную услугу отдельно <a href="/product/one.html">перейти</a>
							</p>

							<div class="visible-md">

								<button class="btn btn--blue product-set-details__btn-open product-set-details__btn-open-text" type="button">
									Свернуть
								</button>

							</div>

						</div>

					</div>

				</div>
