		<div class="product-tab">

			<div class="center">

				<div class="tabs tabs--mobile-come-accordion">

					<div class="tabs__item">

						<h2 class="tabs__btn">

							<span class="tabs__btn-logo tabs__btn-logo--show-active">

								<img src="/img/product/tab-info-color.svg" width="23" height="23" loading="lazy" alt="">

							</span>

							<span class="tabs__btn-logo tabs__btn-logo--hide-active">

								<img src="/img/product/tab-info-blue.svg" width="23" height="23" loading="lazy" alt="">

							</span>

							<span class="tabs__btn-name">
								Полезная информация
							</span>

						</h2>

{% if product === "set" %}

{% include "product/set/info.html" %}

{% else %}

{% include "product/one/info.html" %}

{% endif %}

					</div>

					<div class="tabs__item is-active">

						<h2 class="tabs__btn">

							<span class="tabs__btn-logo tabs__btn-logo--svg">

								<svg width="16" height="18" viewBox="0 0 16 18">
									<path d="M10.37 16.23a6.1 6.1 0 01-8.59 0 5.99 5.99 0 010-8.51l6.44-6.4a4.58 4.58 0 016.44 0 4.49 4.49 0 010 6.4L8.22 14.1a3.06 3.06 0 01-4.3 0 3 3 0 010-4.26l6.45-6.4 1.07 1.07L5 10.91a1.5 1.5 0 000 2.13c.6.59 1.56.59 2.15 0l6.44-6.39a3 3 0 000-4.26 3.06 3.06 0 00-4.3 0L2.86 8.78a4.49 4.49 0 000 6.39 4.58 4.58 0 006.45 0l5.36-5.32 1.08 1.06-5.37 5.32z"/>
								</svg>

							</span>

							<span class="tabs__btn-name">
								Состав
							</span>

						</h2>

{% if product === "set" %}

{% include "product/set/tab.html" %}

{% else %}

{% include "product/one/tab.html" %}

{% endif %}

					</div>

				</div>

			</div>

		</div>